<footer>
    <div class="row">
       <div class="col-lg-12 text-center">
           <p></p>
       </div>
    </div>
</footer>

<!--
{% load static %}
<div id="footer">
    <div class="row footer-row">
        <div class="col-lg-3">
            <h4 class="text-footer pull-left" style="margin-left:5%;">{{ nombre_empresa }}</h4>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-4 ">
                    <h4 class="pull-left"><a class="social_link" href="{% url 'products_view' %}">Productos</a></h4>
                </div>
                <div class="col-md-4 ">
                    <h4 class="pull-left"><a class="social_link" href="{% url 'nuevo_pedido' %}">Pedidos</a></h4>
                </div>
                <div class="col-md-4 ">
                    <h4 class="pull-left"><a class="social_link" href="#">Promociones</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="pull-center"><a class="social_link" href="{% url 'sucursales_view' %}">Sucursales</a></h4>
                </div>
                <div class="col-md-6">
                    <h4 class="pull-left"><a class="social_link" href="{% url 'contacto_view' %}    ">Contacto</a></h4>
                </div>
            </div>

        </div>
        <div class="col-lg-2">
            <div class="row">
                <h4 class="text-footer">Seguinos En</h4>
            </div>
            <div class="row">
                <a class="social_link" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a class="social_link" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a class="social_link" href="#" title="Google+"><i class="fa fa-google-plus-square"></i></a>
            </div>

        </div>
    </div>
    <div class="row">
        <h5 class="p-footer">Copyright &copy; {{ nombre_empresa }} 2016, Todos los derechos reservados.</h5>
    </div>
</div>

</footer>

<style>
#footer {
    background-color: black;
    color: white !important;
    font-size: 200%;
    text-align: center;
    line-height: 3em;
    clear: both;
    position: relative;
    z-index: 10;
}
    margin-top: -3em;
.text-footer{
    color:white;
}
.footer p{
	color: white;
}

.social_link{
    color: white;
}

</style>-->
