{% load static sekizai_tags cms_tags %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
            <title>
                {% block head_title %}
                     {{ nombre_empresa }}
                {% endblock %}
            </title>
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
        <link href="{% static 'css/arma_pedido.css' %}" rel="stylesheet">
        <link href="{% static 'css/wizard.css' %}" rel="stylesheet">
        <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href="{% static 'custom_admin/assets/admin-tools/admin-forms/css/admin-forms.css' %}">
        <!-- Custom Fonts -->
        <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">

        <link href="{% static 'website/slick/slick.css'%}" rel="stylesheet" type="text/css">
        <link href="{% static 'website/slick/slick-theme.css'%}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

         <!-- jQuery -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/sigep_funciones.js' %}"></script>
        <script src="{% static 'js/select2.min.js' %}"></script>
        <script src="{% static 'js/es.js' %}"></script>
        <script src="{% static 'js/moment.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %} "></script>

         <script src="{% static 'website/slick/slick.min.js' %}" > </script>
         <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/bootbox/bootbox.js' %}"></script>



        <![endif]-->

