{% load static %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home_page_view' %}">{{ nombre_empresa }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <a href="{% url 'nuevo_pedido' %}">Pedido</a>
                    </li>
                    <li>
                        <a href="{% url 'products_view' %}">Productos</a>
                    </li>
                    <li>
                        <a href="{% url 'promociones_list' %}">Promociones</a>
                    </li>
                    <li>
                    <a href="{% url 'sucursales_view' %}">Sucursales</a>
                    </li>
                    <li>
                    <a href="{% url 'contacto_view' %}">Contacto</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{user.email}} {% endif %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'user_update' %}"><i class="fa fa-cog"></i> Mi cuenta</a></li>
                            </li>
                            <li>
                                <a href="{% url 'cliente_profile_update' %}"><i class="fa fa-child" aria-hidden="true"></i> Mi Perfil</a></li>
                            </li>
                            <li>
                                <a href="{% url 'mispedidos_list' %}"><i class="fa fa-briefcase"aria-hidden="true"></i> Mi pedidos</a></li>
                            </li>
                            <li>
                                <a href="{% url 'account_logout' %}"><i class="glyphicon glyphicon-log-out"></i>Logout</a>
                            </li>
                        </ul>
                    </li>

                    {% else %}
                        <li>
                            <a href="{% url 'account_login' %}?next={{ request.path|urlencode }}" >Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>