{% load static %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="glyphicon glyphicon-thumbs-up"></i> Redes Sociales</h4>
    </div>
    <div class="panel-body">
        <div class="well">
            <div class="fb-page" data-href="https://www.facebook.com/Sabores-del-Hogar-840321662772562/" data-tabs="timeline"
                 data-small-header="false"
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/Sabores-del-Hogar-840321662772562/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/Sabores-del-Hogar-840321662772562/">Sabores del Hogar</a></blockquote>
            </div>

        </div>
        <a href="#" class="btn btn-default">Ver Más</a>
    </div>

</div>

{#<!-- Blog Search Well -->#}
{#                <div class="well">#}
{#                    <h4>Blog Search</h4>#}
{#                    <div class="input-group">#}
{#                        <input type="text" class="form-control">#}
{#                        <span class="input-group-btn">#}
{#                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>#}
{#                        </span>#}
{#                    </div>#}
{#                    <!-- /.input-group -->#}
{#                </div>#}
{##}
{#                <!-- Blog Categories Well -->#}
{#                <div class="well">#}
{#                    <h4>Blog Categories</h4>#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <ul class="list-unstyled">#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <!-- /.col-lg-6 -->#}
{#                        <div class="col-lg-6">#}
{#                            <ul class="list-unstyled">#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                                <li><a href="#">Category Name</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <!-- /.col-lg-6 -->#}
{#                    </div>#}
{#                    <!-- /.row -->#}
{#                </div>#}
{##}
{#                <!-- Side Widget Well -->#}
{#                <div class="well">#}
{#                    <h4>Side Widget Well</h4>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>#}
{#                </div>#}