{% load static cms_tags sekizai_tags %}
{% if ver_pedido %}
<div class="well ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="glyphicon glyphicon-shopping-cart"></i> Tu Pedido</h4>
        </div>
        <div class="panel-body" id="TU_PEDIDO_ARMADO">
            {% if pedido %}
            {% for d in pedido.get_detalle_pedido %}
            <div class="row">
                <div class="col-md-2">
                    <input id="{{d.id}}" name="legajo" type="number"
                           value="{{d.cantidad}}"
                           onchange="actualizarCantidad(this, {{pedido.pk }})"
                           style="width: 37px; font-size:10px;  text-align: center;">
                </div>
                <div class="col-md-6" style="font-size:10px; padding-top: 2%;">
                    {{d.promocion.nombre|title}}
                    {{d.menu.nombre|title}}{{d.producto.producto.nombre|title}}
                    {{d.producto.clasificacion}}
                    {{d.producto_armado.producto.slogan}}
                </div>
                <div class="col-md-2" style="font-size:10px; padding-top: 2%;">
                    ${{d.precio_total_unidad}}
                </div>
                <div class="col-md-2" style="padding-top: 1%;">
                    <a style="color:black;cursor: pointer;"
                       onclick="javascript:quitarDetalle(this, {{ pedido.pk }})"
                       id="{{d.id}}"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i>
                    </a>
                </div>

            </div>

            {% endfor %}
            <div class="row">
                <hr/>
                <div class="col-md-8" style="font-size:10px;">
                    Sub Total:
                </div>
                <div class="col-md-4" style="font-size:10px;">
                    ${{pedido.sub_total}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" style="font-size:10px;">
                    Precio envio:
                </div>
                <div class="col-md-4" style="font-size:10px;">
                    ${{pedido.precio_envio}}
                </div>
            </div>

            <div class="row">
                <hr/>
                <div class="col-md-8" style="font-size:10px;">
                    Total:
                </div>
                <div class="col-md-4" style="font-size:10px;">
                    ${{pedido.precio_total}}
                </div>
            </div>
            {% endif %}


        </div>
    </div>
</div>
{% endif %}

<div class="well ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="glyphicon glyphicon-time"></i> Historico de pedidos
            </h4>
        </div>
        <div class="panel-body" id="accordion_historico">
            {% if pedido_historico %}
            <div class="panel-group" id="accordion" role="tablist"
                 aria-multiselectable="true">
                {% for pedido_his in pedido_historico %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{pedido_his.id}}">
                        <div class="row">
                            <div class="col-md-10" style="font-size:12px; text-decoration:none; color:black;">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{pedido_his.id}}" aria-expanded="false" aria-controls="collapse{{pedido_his.id}}"
                                   style="font-size:12px; text-decoration:none; color:black;">
                                    Nro Orden: {{pedido_his.pk}} &nbsp; &nbsp; {{pedido_his.fechaPedido|date:"d M, Y h:s"}}
                                </a>
                            </div>
                            <div class="col-md-2" id="star{{pedido_his.id}}">
                                <a style="text-decoration:none; color:#f9df18; font-size:18px;"  onclick="javascript:actualizarfavorito(this, {{ pedido_his.pk }})" {% if pedido_his.favorito %} favorito="1" title="remover favorito"{% else %} favorito="0" title="añadir a favorito"{% endif %} >
                                    <span {% if pedido_his.favorito %}class="glyphicon glyphicon-star" favorito="1"{% else %}class="glyphicon glyphicon-star-empty" favorito="0"{% endif %}aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{pedido_his.id}}" class="panel-collapse collapse"
                         role="tabpanel" aria-labelledby="eading{{pedido_his.id}}">
                        <div class="panel-body" style="font-size:10px;">
                            {% for det in pedido_his.detalles.all %}
                                {{det.cantidad}}
                                {{det.promocion.nombre|title}}
                                {{det.menu.nombre|title}}{{det.producto.producto.nombre|title}}
                                {{det.producto.clasificacion}}
                            {% if not forloop.last %}
                                -
                            {% endif %}
                            {% endfor %}
                             <br>
                            <a class="btn btn-default btn-xs pull-right" href="{% url 'pedido_historico' pedido.pk pedido_his.pk %}" class="">Repetir pedido</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
                <p style="font-size:12px"> NO HA REALIZADO PEDIDOS AUN</p>
            {% endif %}
        </div>
    </div>
</div>


{#{% include 'promoSlider.html' %}#}
{% static_placeholder 'banner_promociones' %}

<div class="well">
    <div class="panel panel-default" id="Configuracion">
        <div class="panel-heading">
            <h4><i class="glyphicon glyphicon-wrench"></i> Configuración del
                Pedido</h4>
        </div>
        <div class="panel-body">
            <p align="justify">

            <p>
                <strong>Mi ubicación:</strong>
                {% if pedido.servicio == 1 %}
                    {{ pedido.get_detalle_direccion }}
                {% else %}
                    N/A
                {% endif %}

            </p>

            <p>
                {% if pedido.sucursal %}
            <p>
                <strong>Mi sucursal:</strong>Sucursal {{ pedido.sucursal }}
                {% else %}
                <strong>Mi sucursal:</strong>No se ha ingresado aún
                {% endif %}
            </p>
            <p>
                {% if pedido %}
                <strong>Servicio Elegido:</strong>{{ pedido.get_servicio_display}}
                {% else %}
                <strong>Servicio Elegido:</strong>No se ha seleccionado
                {% endif %}
            </p>
            <p>
                {% if pedido.hora_entrega %}
                <strong>Horario del pedido:</strong>{{ pedido.hora_entrega }}
                {% else %}
                <strong>Horario del pedido:</strong> -
                {% endif %}
            </p>
        </div>
    </div>
</div>

<style>
    a:hover{
    cursor: pointer;
    }
</style>
{% addtoblock 'js' %}
<script>
    $(document).ready(function () {
 		$('select').select2();
    });

</script>
{% endaddtoblock %}


<!-- Blog Categories Well -->
<!--        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                    </ul>
                </div>
                <!-- /.col-lg-6 -->
<!--        <div class="col-lg-6">
            <ul class="list-unstyled">
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-6 -->
<!--  </div> -->
<!-- /.row -->
<!--    </div>--Z

     <!-- Side Widget Well -->
<!-- <div class="well">
     <h4>Side Widget Well</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
 </div>
{#<div class="3u">#}
{#    <header>#}
{#        <h2>Right Inner Sidebar</h2>#}
{#    </header>#}
{#    {% block historico_pedidos%}#}
{#        <ul class="style2">#}
{#            <li>#}
{##}
{#            </li>#}
{#        </ul>#}
{#    {% endblock %}#}
{#    {% block informacion_pedido %}#}
{#        <ul class="style2">#}
{#            <li>#}
{#                <p>Aun no has seleccionado informacion de pedido</p>#}
{#            </li>#}
{#        </ul>#}
{##}
{#    {% endblock %}#}
{#</div>#}