{% load socialaccount  static %}
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'social_login/css/social_login.css' %}">

{% get_providers as socialaccount_providers %}
        <div class="logmod__alter">
          <div class="logmod__alter-container">
            {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
            <li>
              <a title="{{brand.name}}"
                 class="socialaccount_provider {{provider.id}} {{brand.id}}"
                 href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                 >{{brand.name}}</a>
            </li>
            {% endfor %}
            {% endif %}
            <li>
              <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
                 href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                  {% if provider.name == "Google" %}
                    <!--<i class="fa fa-google-plus"></i>-->
                  <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="connect googleplus">
                          <div class="connect__icon">
                            <i class="fa fa-google-plus"></i>
                          </div>
                          <div class="connect__context">
                            <span>Iniciá o Registrate con <strong>Google+</strong></span>
                          </div>
                        </a>
                {% elif provider.name == "Facebook" %}
                    <!--<i class="fa fa-facebook"></i>-->
                    <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="connect facebook">
                          <div class="connect__icon">
                            <i class="fa fa-facebook"></i>
                          </div>
                          <div class="connect__context">
                            <span>Iniciá o Registrate con <strong>Facebook</strong></span>
                          </div>
                        </a>
                {% endif %}</a>
            </li>
                            </div>
                    </div>
            {% endfor %}

