{% extends "baseadmin.html" %}

{% block content %}
<div id="content_custom_admin">
        <div class="inline pull-right">
                <a href="{% url 'nueva_empresa' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Cargar Empresa
                    </button>
                </a>
            </div>
<h1>Empresa</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in object_list %}
            <tr>
                <td>{{ empresa.nombre }}</td>
                <td><img src="/media/{{empresa.imagen}}" alt="sin imagen" width="50px" heigth="50px" /></td>
                <td>
                    <a href="{% url 'actualizar_empresa' empresa.pk %}">
                        <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span>
                    </a>
                    <a href="{% url 'eliminar_empresa' empresa.pk %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No hay empresa cargada </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}