{% extends "baseadmin.html" %}

{% load static  sekizai_tags%}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
        {{form.as_table }}
    </table>
    </br>
    <button type="submit"  class="btn btn-success btn-lg">
        Guardar
    </button>
    <a href="{% url 'empresa_list' %}">Cancelar</a>
  
</form>
{% endblock %}