{% extends "baseadmin.html" %}

{% block content %}
<div id="content_custom_admin">
        <div class="inline pull-right">
                <a href="{% url 'nuevo_encargado' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo Encargado
                    </button>
                </a>
            </div>
<h1>Encargados</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Legajo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>username</th>
                <th>email</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for encargado in object_list %}
            <tr>
                <td>{{ encargado.legajo }}</td>
                <td>{{ encargado.first_name }}</td>
                <td>{{ encargado.last_name }}</td>
                <td>{{ encargado.username }}</td>
                <td>{{ encargado.email }}</td>
                <td>
                    <a href="{% url 'actualizar_encargado' encargado.pk %}">
                        <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span>
                    </a>
                    <a href="{% url 'eliminar_encargado' encargado.pk %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No hay encargados cargado </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}