{% extends "baseadmin.html" %}

{% load static  sekizai_tags %}

{% block content %}

<div class="col-md-6">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.username.errors }}
        <label class="col-sm-3 control-label" for="{{ form.username.id_for_label }}">Username: </label>
        <div class="col-sm-6">
              {{ form.username }}
            {{ form.username.help_text }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.first_name.errors }}
        <label class="col-sm-3 control-label" for="{{ form.first_name.id_for_label }}">Nombre: </label>
        <div class="col-sm-6">
              {{ form.first_name }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.last_name.errors }}
        <label class="col-sm-3 control-label" for="{{ form.last_name.id_for_label }}">Apellido: </label>
        <div class="col-sm-6">
              {{ form.last_name }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.legajo.errors }}
        <label class="col-sm-3 control-label" for="{{ form.legajo.id_for_label }}">Legajo: </label>
        <div class="col-sm-3">
              {{ form.legajo }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.password1.errors }}
        <label class="col-sm-3 control-label" for="{{ form.password1.id_for_label }}">Contraseña: </label>
        <div class="col-sm-6">
              {{ form.password1 }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.password2.errors }}
        <label class="col-sm-3 control-label" for="{{ form.password2.id_for_label }}">Escriba la contraseña(otra vez): </label>
        <div class="col-sm-6">
              {{ form.password2 }}
            {{ form.password2.help_text }}
        </div>
    </div>
    </br>
        <button type="submit"  class="btn btn-success btn-lg">
        Guardar
    </button>
    <a href="{% url 'encargado_list' %}">Cancelar</a>

</form>
</div>

{% endblock %}