{% load static sekizai_tags %}
<div class="col-md-3">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Pendiente</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group sortable panel-group source connected"
                id="pedidos_sin_asignar" status_id="{{ id_pedido_pendiente }}">
                {% for pedido in pedidos_sin_asignar %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#pedidos_sin_asignar"
                                   href="#collapse{{ pedido.id }}" aria-expanded="false"
                                   class="collapsed">{{ pedido.id }} - <span
                                        class="glyphicons glyphicons-clock"></span> ({{ pedido.hora_entrega }})</span>
                              {% if pedido.servicio == 1%}<i class="fa fa-location-arrow" aria-hidden="true"></i> {% else %}<i class="fa fa-home" aria-hidden="true"></i>{% endif %}</b>

                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ pedido.id }}"
                             class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for detalle in pedido.detalles.all %}
                                    <p>
                                        {{ detalle.cantidad }} {{ detalle.promocion.nombre|truncatechars:25 }}{{detalle.menu.nombre|truncatechars:25}}{{detalle.producto.producto.nombre|truncatechars:25}}{{detalle.producto_armado.producto.slogan|truncatechars:25}}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">En Produccion</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group sortable panel-group source connected"
                id="pedidos_en_produccion" status_id="{{ id_pedido_en_produccion }}">
                {% for pedido in pedidos_en_produccion %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#pedidos_en_produccion"
                                   href="#collapse{{ pedido.id }}" aria-expanded="false"
                                   class="collapsed">{{ pedido.id }} - <span
                                        class="glyphicons glyphicons-clock"></span> ({{ pedido.hora_entrega }})</span>
                                  {% if pedido.servicio == 1%}<i class="fa fa-location-arrow" aria-hidden="true"></i> {% else %}<i class="fa fa-home" aria-hidden="true"></i>{% endif %}</b>

                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ pedido.id }}"
                             class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for detalle in pedido.detalles.all %}
                                    <p>
                                        {{ detalle.cantidad }} {{ detalle.promocion.nombre|truncatechars:25 }}{{detalle.menu.nombre|truncatechars:25}}{{detalle.producto.producto.nombre|truncatechars:25}}{{detalle.producto_armado.producto.slogan|truncatechars:25}}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Listo Para Entregar</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group sortable panel-group source connected"
                id="pedidos_listos_para_entregar"
                status_id="{{ id_pedido_listo_para_entregar }}">
                {% for pedido in pedidos_listos_para_entregar %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"
                                   data-parent="#pedidos_listos_para_entregar"
                                   href="#collapse{{ pedido.id }}" aria-expanded="false"
                                   class="collapsed">{{ pedido.id }} - <span
                                        class="glyphicons glyphicons-clock"></span> ({{ pedido.hora_entrega }})
                                    {% if pedido.servicio == 1%}<i class="fa fa-location-arrow" aria-hidden="true"></i> {% else %}<i class="fa fa-home" aria-hidden="true"></i>{% endif %}</b>
                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ pedido.id }}"
                             class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for detalle in pedido.detalles.all %}
                                    <p>
                                        {{ detalle.cantidad }} {{ detalle.promocion.nombre|truncatechars:25 }}{{detalle.menu.nombre|truncatechars:25}}{{detalle.producto.producto.nombre|truncatechars:25}}{{detalle.producto_armado.producto.slogan|truncatechars:25}}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">En Envio</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group sortable panel-group source connected"
                id="pedidos_en_envio" status_id="{{ id_pedido_en_envio }}">
                {% for pedido in pedidos_en_envio %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#pedidos_en_envio"
                                   href="#collapse{{ pedido.id }}" aria-expanded="false"
                                   class="collapsed">{{ pedido.id }} - <span
                                        class="glyphicons glyphicons-clock"></span> ({{ pedido.hora_entrega }})</span>
                                     {% if pedido.servicio == 1%}<i class="fa fa-location-arrow" aria-hidden="true"></i> {% else %}<i class="fa fa-home" aria-hidden="true"></i>{% endif %}</b>

                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ pedido.id }}"
                             class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for detalle in pedido.detalles.all %}
                                    <p>
                                        {{ detalle.cantidad }} {{ detalle.promocion.nombre|truncatechars:25 }}{{detalle.menu.nombre|truncatechars:25}}{{detalle.producto.producto.nombre|truncatechars:25}}{{detalle.producto_armado.producto.slogan|truncatechars:25}}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <button type="button" id="cancelar_button" class="btn btn-rounded btn-danger btn-block pull-left" >Cancelar</button>
    </div>
    <div class="col-lg-8"></div>
    <div class="col-lg-2">
        <button type="button" id="finalizar_button" class="btn btn-rounded btn-system btn-block pull-right">Finalizar</button>
    </div>
</div>

<style>
    ul.source, ul.target {
        min-height: 50px;
        margin: 0px 2px 2px 0px;
        padding: 2px;
        border-width: 1px;
        border-style: solid;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        list-style-type: none;
        list-style-position: inside;
    }

    .panel-body {
        padding: 5px;
    }

    .panel-heading.active {
        border: 2px solid #E7E81D
    }

    #finalizar_button {
        position: fixed;
	    z-index: 999;
	    right: 20px;
        width: 10%;
	    bottom: 10%;
    }
     #cancelar_button {
        position: fixed;
	    z-index: 999;
        width: 10%;
	    left: 22%;
	    bottom: 10%;
    }
    .panel-title {
        margin-top: 10px;
    }

    ul.source {
        border-color: #f8e0b1;
    }

    ul.target {
        border-color: #add38d;
    }

    .source li, .target li {
        margin: 5px;
        padding: 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    .source li {
        background-color: #fcf8e3;
        border: 1px solid #fbeed5;
        color: #c09853;
    }

    .target li {
        background-color: #ebf5e6;
        border: 1px solid #d6e9c6;
        color: #468847;
    }

    .sortable-dragging {
        border-color: #ccc !important;
        background-color: #fafafa !important;
        color: #bbb !important;
    }

    .modal-backdrop {
         z-index: -1;
    }


    .sortable-placeholder {
        height: 40px;
    }

    .source .sortable-placeholder {
        border: 2px dashed #f8e0b1 !important;
        background-color: #fefcf5 !important;
    }

    .target .sortable-placeholder {
        border: 2px dashed #add38d !important;
        background-color: #f6fbf4 !important;
    }
</style>
<script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/notify/notify.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/bootbox/bootbox.js' %}"></script>
<script type="text/javascript">
    var origen = true;
    var pedido_ref = "";
    $(function () {
         $("#finalizar_button").hide();
         $("#cancelar_button").hide();
        $(".source, .target").sortable({
            connectWith: ".connected"
        });
        $("#cancelar_button").on('click', function(){
            bootbox.prompt("Indique motivo de cancelacion", function(result){
                console.log(result);
                id_pedido = get_selected_order();
                    $.get('{% url  'cambiar_estado_pedido' %}', {
                    id_pedido: id_pedido,
                    new_status_id: {{ id_pedido_cancelado }},
                    observaciones: result,
                    }, function(data){
                        if(data.response == 'success'){
                            $.notify(data.message, "success", {position: 'top center'});
                        }
                        else if (data.response == 'fail'){
                            $.notify(data.message, {position: 'top center'});
                        }
                        load_orders();
                    });
                });
        });
        $("#finalizar_button").on('click', function(){
            id_pedido = get_selected_order();
                $.get('{% url  'cambiar_estado_pedido' %}', {
                    id_pedido: id_pedido,
                    new_status_id: {{ id_pedido_entregado }}
                    }, function(data){
                        if(data.response == 'success'){
                            $.notify(data.message, "success", {position: 'top center'});
                        }
                        else if (data.response == 'fail'){
                            $.notify(data.message, {position: 'top center'});
                        }
                        load_orders();
                    });
            });
        $(".panel-heading").on('click', function(elem){
            if($(this).hasClass('active')){
                $(this).removeClass("active");
                $("#finalizar_button").fadeOut();
                $("#cancelar_button").fadeOut();
            }
            else{
                $("#finalizar_button").fadeOut();
                $(".panel-heading").removeClass('active');
                $(this).addClass("active");
                if($($($(this).find('a').attr('data-parent'))[0]).attr('status_id') == "{{ id_pedido_en_envio }}"){
                    $("#finalizar_button").fadeIn();
                }
                $("#cancelar_button").fadeIn();
            }
        });
        $('#pedidos_en_envio, #pedidos_sin_asignar, #pedidos_en_produccion, #pedidos_listos_para_entregar ').sortable().bind('sortupdate', function (e) {
            //Triggered when the user stopped sorting and the DOM position has changed.
            new_status = "";
            var id_pedido = "";
            if (origen == true) {
                pedido_ref = $(e.originalEvent.target).find('a').attr('href').replace('#collapse', '')
                origen = false
            }
            else {
                origen = true;
                new_status = $(e.currentTarget).attr('status_id');
                //pedido_ref = $(e.target).find('a').attr('href');
                id_pedido = pedido_ref.replace('#collapse', '');
                $.get('{% url  'cambiar_estado_pedido' %}', {
                    id_pedido: id_pedido,
                    new_status_id: new_status
                }, function(data){
                    if(data.response == 'success'){
                        $.notify(data.message, "success", {position: 'top center'});
                    }
                    else if (data.response == 'fail'){
                        $.notify(data.message, {position: 'top center'});
                    }
                    load_orders();
                });
            pedido_ref = "";
            }
        });
    });
    function get_selected_order(){
            var ped = $($(".panel-heading.active")[0]).find('a').attr('href');
            var id_pedido = ped.replace("#collapse", "");
            return id_pedido;
        };
</script>