{% extends "profile_base.html" %}
{% load static %}

{% block title %} <title>Login</title> {% endblock %}

{% block breadcrum_page_entero %}

<div class="wizard clearfix steps-show-icons steps-justified" role="application" id="steps-uid-0">
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab" aria-disabled="false" aria-selected="true">
            <a id="steps-uid-0-t-0" href="#steps-uid-0-h-1"  aria-controls="steps-uid-0-p-0">
                <span class="current-info audible">current step: </span><span class="number">1.</span>
                <i class="fa fa-user pr5"></i> DIRECCIÓN
            </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-plus-circle pr5"></i> ARMA TU PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                <span class="number">3.</span> <i class="fa fa-shopping-cart pr5"></i>  DETALLE DE PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled last" aria-disabled="true">
            <a id="steps-uid-0-t-3" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-dollar pr5"></i> PAGO
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
{% block content %}
<link href="{% static 'website/css/1_pedido_informacion.css'%}">
<script type="text/javascript">
function registrar(elemento){
        $("#{{form.sucursal.id_for_label}}").val($(elemento).attr('sucursal_id'));
        };
	$(document).ready(function() {
	        if ($("#id_barrio").val())
	        {mostrar_detalle_sucursales_barrio($("#id_barrio").val());}

            $('#id_barrio').select2({
                language: "es",
                minimumInputLength: 3,
                placeholder: "Selecccione barrio",
            }
            ).on("change", function(e) {
          mostrar_detalle_sucursales_barrio($("#id_barrio").val());
        });
        $('#id_sucursal').select2({
            language: "es",
            placeholder: "Selecccioná la sucursal",
            width: '300px'
        }).on("change", function(e) {
          // mostly used event, fired to the original element when the value changes
          mostrar_detalle_sucursal($("#id_sucursal").val());
        });

        $(".delivery_button").click(function(e){
            e.preventDefault();
            //$("{{form.sucursal.id_for_label}}").value = $(this).
            $("#id_servicio").val(1);
            $("#form-pedido-informacion").submit();
        });
        $("#btn-sucursal").click(function(e){
            e.preventDefault();
            $("#id_servicio").val(2);
            $("#form-pedido-informacion").submit();
        });

});
function mostrar_detalle_sucursal(id_sucursal) {
             if ($('#detalleSucursal').attr('first-time') == 'true'){
                  $('#detalleSucursal').attr('first-time', 'false')
             }
            else{
                $('#detalleSucursal').fadeOut('slow');
             }
             $("#id_servicio").val(2);
             $('#detalleSucursalesBarrio').html("");
            $.get('{% url  'detalle_sucursal_view' %}', {id_sucursal: id_sucursal, servicio_tipo: 2},
                    function (data) {
                        $('#detalleSucursal').html(data);
                        $('#detalleSucursal').fadeIn('slow');
                    });
        }
        ;

function mostrar_detalle_sucursales_barrio(id_barrio) {
 $("#id_servicio").val(1);
 $('#detalleSucursal').html("");
    $.get('{% url  'sucursales_por_barrio' %}', {id_barrio: id_barrio},
            function (barrios) {
                if(barrios.length>0){
                $('#detalleSucursalesBarrio').html("");
                    $.each(barrios, function(index, item){
                        $.get('{% url  'detalle_sucursal_view' %}', {id_sucursal: item.id, servicio_tipo: 1}, function (data) {
                        $('#detalleSucursalesBarrio').append(data);
                        $('#detalleSucursalesBarrio').fadeIn('slow');
                    });
                });
                }
                else
                {
                $('#detalleSucursalesBarrio').html("");
                $('#detalleSucursalesBarrio').append('<div class="alert alert-warning" role="alert">Lamentablemente <strong>no tenemos delivery para su direccion.</strong> Puede realizar el pedido y retirarlo personalmente. </div>');
                        $('#detalleSucursalesBarrio').fadeIn('slow');
                }
            });
}
;
</script>
    <!-- opciones Row -->
<div class="row ">
    <form id="form-pedido-informacion" role="form" method="post">
        {% csrf_token %}
        <div class="col-md-6 img-portfolio text-center border-radius-large" style="padding-right:5%; border-right: 5px solid #ccc;">
            <h3><strong>DELIVERY</strong></h3>
            <div style=" padding: 15px 15px 10px 15px; background-color: #F2F2F2;">
            <div class="form-group row">
                <div class="col-sm-6">
                    {{ form.direccion.errors }}
                    {{ form.direccion }}
                </div>
                <div class="col-sm-3">
                    {{ form.piso.errors }}
                    {{ form.piso }}
                </div>
                <div class="col-sm-3">
                    {{ form.depto.errors }}
                    {{ form.depto }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    {{ form.barrio.errors }}
                    {{ form.barrio }}
                </div>
            </div>
            </div>
            </br>
            <div>
                <div id="detalleSucursalesBarrio"></div>
            </div>
            {{ form.servicio }}
        </div>
        <div class="col-md-6 img-portfolio text-center" style="padding-left:5%; ">
            <h3><strong>RETIRO EN SUCURSAL</strong></h3>
            <div class="row" style="background-color: #F2F2F2; height: 117px; padding-top: 40px;">
                {{ form.sucursal }}
            </div>
            </br>
            <div class="row">
                <div id="detalleSucursal"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </form>
</div>
{% endblock %}