{% extends "internal_base.html" %}
{% load static %}

{% block breadcrum_page_entero %}

<div class="wizard clearfix steps-show-icons steps-justified" role="application" id="steps-uid-0">
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-0" href="{% url 'edita_pedido' pedido.pk %}" aria-controls="steps-uid-0-p-0">
                <span class="current-info audible">current step: </span><span class="number">1.</span>
                <i class="fa fa-user pr5"></i> DIRECCIÓN
            </a>
        </li>
        <li role="tab"  aria-disabled="false" aria-selected="true">
            <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-plus-circle pr5"></i> ARMA TU PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                <span class="number">3.</span> <i class="fa fa-shopping-cart pr5"></i>  DETALLE DE PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled last" aria-disabled="true">
            <a id="steps-uid-0-t-3" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-dollar pr5"></i> PAGO
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$.get("/pedido/actualizar_tu_pedido/{{ pedido.pk }}/",function(data){
            $('#TU_PEDIDO_ARMADO').html(data);
            $("#TU_PEDIDO_ARMADO").find("select").each(function(){
        		var valor=$(this).attr("cantidad");
        		$(this).val(valor);
        	});
        }).done(function () {
            $('select').select2();
        });

});

</script>



 <h5>Elegí productos para tu pedido</h5>
        <div class="item">
            <div class="header">
                <a href="{% url 'productos_populares' pedido.pk %}"  ><img src="{% static 'img/Yummly-icon.png' %}" alt="Productos más Solicitados" />
                <div class="column">
                    PRODUCTOS  MÁS SOLICITADOS
                </div> </a>
            </div>
        </div>
        
        {% if tipoProducto %}        
        {% for t in tipoProducto %}
        <div class="item">
            <div class="header">
                <a href="{% url 'vista_productos_solicitados' t.pk pedido.pk %}" ><img src="/media/{{t.imagen}}" alt="{{t.nombre}}" />
                <div class="column">
                  {{t.nombre}}
                </div> </a>
            </div>
        </div>
        {% endfor %}
       {% endif %}
       {% if productoParaArmar %}        
        {% for p in productoParaArmar %}
        <div class="item">
            <div class="header">
                <a href="{% url 'producto_para_armar' p.pk pedido.pk %}" ><img src="/media/{{p.tipo_producto.imagen}}" alt="{{p.slogan}}" />
                <div class="column">
                  {{p.slogan}}
                </div> </a>
            </div>
        </div>
        {% endfor %}
       {% endif %}   
       <div class="item">
            <div class="header">
                <a href="{% url 'vista_menu_disponibles' pedido.pk %}" ><img src="{% static 'img/menu.jpg' %}" alt="Menu" />
                <div class="column">
                    Menú
                </div> </a>
            </div>
        </div>
    <!--    <div class="item">
            <div class="header">
                <a href=""  ><img src="/media/imagenes/armaTuPedido/promocion.jpg" alt="Promocion" />
                <div class="column">
                   Promociones
                </div> </a>
            </div>
        </div>-->   
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
  Cancelar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atención</h4>
      </div>
      <div class="modal-body">
        <p>Está seguro que desea cancelar pedido</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <a href="{% url 'cancelar_pedido' pedido.id %}" class="btn btn-primary">SI</a>
      </div>
    </div>
  </div>
</div>
        <a class="btn btn-default"  href="{% url 'edita_pedido' pedido.pk %}">Volver</a>
<div class="row">
    <br>
</div>
{% endblock %}
