{% extends "internal_base.html" %}
{% block breadcrum_page_entero %}

<div class="wizard clearfix steps-show-icons steps-justified" role="application" id="steps-uid-0">
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-0" href="{% url 'edita_pedido' pedido.pk %}" aria-controls="steps-uid-0-p-0">
                <span class="current-info audible">current step: </span><span class="number">1.</span>
                <i class="fa fa-user pr5"></i> DIRECCIÓN
            </a>
        </li>
        <li role="tab"  aria-disabled="false" aria-selected="true">
            <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-plus-circle pr5"></i> ARMA TU PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                <span class="number">3.</span> <i class="fa fa-shopping-cart pr5"></i>  DETALLE DE PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled last" aria-disabled="true">
            <a id="steps-uid-0-t-3" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-dollar pr5"></i> PAGO
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#tablaProductosDisponibles").find("select").each(function(){
		
			if($(this).val()==0)
			{
				
				var fila = $(this).closest("tr");

				var boton = $(fila).find(".btn");

				$(boton).attr("disabled", "disabled");
			}

			
		});
		
	
	
		$("select").change(function() {
			

			var valor = $(this).find("option:selected").val();
			if($(this).val()==0)
			{
				var fila = $(this).closest("tr");

				var boton = $(fila).find(".btn");

				$(boton).attr("disabled", "disabled");
			}
			else
				{
				var fila = $(this).closest("tr");

				var boton = $(fila).find(".btn");
				$(boton).removeAttr('disabled');
				
				
				}
			$("#lblCantidad").text(valor);
		});	
		
		$( "a" ).click(function() {
        	var clase  = $(this).attr('class');
        	if(clase == 'btn')
        	{
            	var fila = $(this).closest("tr");
            	var numeroCombo = $(fila).find("select").find("option:selected").val();
            	
            	$(fila).find("select").val(0);
            	var idProducto = $(this).attr('id');
            	$(this).attr("disabled", "disabled");
            
          //  $(this).attr("href", "/pedido/armaTuPedido/productos/ "+numeroCombo+"/"+idProducto+"/2/");
        	}
        });
		
		$.get("/pedido/actualizar_tu_pedido/{{ pedido.pk }}/",function(data){
            $('#TU_PEDIDO_ARMADO').html(data);
            $("#TU_PEDIDO_ARMADO").find("select").each(function(){
        		var valor=$(this).attr("cantidad");
        		$(this).val(valor);        		
        	});
        }).done(function () {
            $('select').select2();
        });
		


});
	
</script>
<div class="encabezado">Menús Disponibles</div>
<br />
        {% if productos %}
        <table  id = "tablaProductosDisponibles" class="table table-hover   " cellspacing="5" cellpadding="5" >
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Menú</th>
                    <th>Precio Unidad</th>
                    <th>Cantidad</th>
                    <th>Carrito</th>
                </tr>
            </thead>
            {% for m in productos %}          
            <tbody>
                <tr>
                    <th><img src="/media/{{m.imagen}}" alt="" width="50px" heigth="50px" /></th>
                    <th> {{m.nombre}} </th>
                    <th> ${{m.precio_venta}} </th>
                    <th>
                    <select  name="cantidad" id="cantidad" style="width:50px">
					{% for opt in range %}
					<option value={{opt}}>{{opt}}</option>
					{% endfor %}
                    </select></th>  
                    </select></th>

                    <th><a id="{{m.id}}" onClick="javascript:agregarMenuAlPedido(this, {{pedido.pk}});" class="btn" type="submit">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        </a></th>
                </tr>
            </tbody>
        
            {% endfor %}
        </table>
        {% endif %}
        <br />
        <br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
  Cancelar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atención</h4>
      </div>
      <div class="modal-body">
        <p>Está seguro que desea cancelar pedido</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <a href="{% url 'cancelar_pedido' pedido.id %}" class="btn btn-primary">SI</a>
      </div>
    </div>
  </div>
</div>
        <a class="btn btn-default"  href="{% url "vista_arma_tu_pedido" pedido.pk %}">Volver a Productos </a>
        <a class="btn btn-large btn-primary pull-right"  href="{% url "detalle_pedido" pedido.pk %}">Continuar</a>
{% endblock %}
