{% extends "internal_base.html" %}
{% load static %}
{% block breadcrum_page_entero %}

<div class="wizard clearfix steps-show-icons steps-justified" role="application" id="steps-uid-0">
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-0" href="{% url 'edita_pedido' pedido.pk %}" aria-controls="steps-uid-0-p-0">
                <span class="current-info audible">current step: </span><span class="number">1.</span>
                <i class="fa fa-user pr5"></i> DIRECCIÓN
            </a>
        </li>
        <li role="tab"  aria-disabled="false" aria-selected="true">
            <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-plus-circle pr5"></i> ARMA TU PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                <span class="number">3.</span> <i class="fa fa-shopping-cart pr5"></i>  DETALLE DE PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled last" aria-disabled="true">
            <a id="steps-uid-0-t-3" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-dollar pr5"></i> PAGO
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("select").change(function() {
            var valor = $(this).find("option:selected").val();
            //alert(valor);
            //var str

            $("#lblCantidad").text(valor);
        });
        $( "a" ).click(function() {
        var clase  = $(this).attr('class');
        if(clase == 'btn')
        {
            var fila = $(this).closest("tr");
            var numeroCombo = $(fila).find("select").find("option:selected").val();
            var idProducto = $(this).attr('id');

          //  $(this).attr("href", "/pedido/armaTuPedido/productos/ "+numeroCombo+"/"+idProducto+"/1/");
        }

    }); 
    
    
		$.get("/pedido/actualizar_tu_pedido/{{ pedido.pk }}/",function(data){
            $('#TU_PEDIDO_ARMADO').html(data);
            $("#TU_PEDIDO_ARMADO").find("select").each(function(){
        		var valor=$(this).attr("cantidad");
        		$(this).val(valor);        		
        	});
        }).done(function () {
            $('select').select2();
        });

        
        $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index+1;
            var $percent = ($current/$total) * 100;
            $('#rootwizard').find('.bar').css({width:$percent+'%'});
        }});
});


function agregarVersion(tag){
         
         console.log("click")
        var id_ver = $(tag).attr("id")         
             $.get("/pedido/producto_armado_create/{{ pedido.pk }}/{{ producto_armar.pk }}/"+id_ver+"/",function(data){
                    $('#TU_PEDIDO_ARMADO').html(data);
                    $("#TU_PEDIDO_ARMADO").find("select").each(function(){
                		var valor=$(this).attr("cantidad");
                		$(this).val(valor);
                	});

             }).done(function () {
            $('select').select2();
        });
         } 

function agregarIngrediente(tag){

      var id_ing = $(tag).attr("id");
             $.get("/pedido/{{ pedido.pk }}/add_ingrediente/" + id_ing + "/",function(data){
                 $("#TU_PEDIDO_ARMADO").html(data);
                 $("#TU_PEDIDO_ARMADO").find("select").each(function(){
                		var valor=$(this).attr("cantidad");
                		$(this).val(valor);
                	});


             }).done(function () {
            $('select').select2();
        });
             $.get("/get_tu_producto/{{ pedido.pk }}/", function(data){
                     $("#tuProducto").html(data);
                 });

         } 

</script>


<div class="encabezado">Productos Para Armar</div>
<br />
  <div id="rootwizard">
      <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
                    <ul>
                        <li><a href="#tab0" data-toggle="tab">Tamaño</a></li>
                        {% for s in producto_armar.get_secciones %}
                        <li><a href="#tab{{s.orden}}" data-toggle="tab">{{s.nombre}}</a></li>
                        {% endfor %}
                        <li><a href="#tuProducto" data-toggle="tab">Tu Producto</a></li>
                    </ul>
        </div>
      </div>
      </div>
	<div id="bar" class="progress progress-striped active">
    	<div class="bar">
        <div class="bar" style="width: 14.285714285714285%;"></div>
      	</div>
    </div>
	<div class="tab-content">
    	<div class="tab-pane" id="tab0">
        {% if producto_armar.get_detalle_versiones %}

        	<h5>Elegí el tamaño </h5>
            <table class="table table-hover" cellspacing="5" cellpadding="5">
            	<tbody>
                {% for d in producto_armar.get_detalle_versiones %}
                	<tr>
                    	<td><img src="/media/{{d.imagen_producto}}" alt="" width="50px" heigth="50px" /></td>
                        <td >{{d.clasificacion.nombre}}</td>
                        <td><a id={{d.id}} href="#" class="btn version" onclick="agregarVersion(this)" ><i class="glyphicon glyphicon-shopping-cart"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
        {% for s in producto_armar.get_secciones %}
        <div class="tab-pane" id="tab{{s.orden}}">
        	<h5>ELEGIR {{s.nombre}}</h5>
        	<h6>Cantidad de {{s.nombre}} permitidos en esta sección es de: {{s.cantidad_exclusiones}} </h6>
            <table class="table table-hover" cellspacing="5" cellpadding="5">
            	<tbody>
                {% for i in s.get_ingrediente_seccion %}
                	<tr>
                    	<td><img src="/media/{{i.ingrediente.imagen}}" alt="" width="50px" heigth="50px" /></td>
                        <td >{{i.ingrediente}} </td>
                        <td><a id={{i.id}} href="#" class="btn ingrediente" onclick="agregarIngrediente(this)"><i class="glyphicon glyphicon-shopping-cart"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        <div class="tab-pane" id="tuProducto">
        {% if producto_armado %}
        	<strong>{{producto_armado.producto.slogan}}</strong>
            <div class="tuDetalleProducto">Tamaño</div>
            <img src="/media/{{producto_armado.version.imagen_producto }}  " alt="" width="50px" heigth="50px" />  {{producto_armado.version.clasificacion }}
			<table  cellspacing="5" cellpadding="5">
            {% for d in producto_armado.get_detalle_producto_armado  %}
            	<tr>
                	<td><img src="/media/{{d.ingrediente.ingrediente.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    <td >{{d.ingrediente.ingrediente.nombre}}</td>
                </tr>
            {% endfor %}
            </table>
		{% endif %}
        </div>
        <ul class="pager wizard">
        	<li class="previous first" style="display:none;"><a href="#">First</a></li>
            <li class="previous"><a href="#">Volver</a></li>
            <li class="next last" style="display:none;"><a href="#">Last</a></li>
            <li class="next"><a href="#">Continuar</a></li>
        </ul>
	</div>
  </div><!-- Termina wizard aquí -->
<br/>
<br/>

<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
  Cancelar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atención</h4>
      </div>
      <div class="modal-body">
        <p>Está seguro que desea cancelar pedido</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <a href="{% url 'cancelar_pedido' pedido.id %}" class="btn btn-primary">SI</a>
      </div>
    </div>
  </div>
</div>
        <a class="btn btn-default"  href="{% url "vista_arma_tu_pedido" pedido.pk %}">Volver a Productos</a>
       <!-- <script src="/media/bootstrap/js/bootstrap.min.js"></script>-->
         <!-- jQuery rootwizard -->
        <script src="{% static 'js/jquery.bootstrap.wizard.js' %}"></script>
        <script src="{% static 'js/prettify.js' %}"></script>


{% endblock %}
