{% extends "internal_base.html" %}
{% load cms_tags %}
{% block breadcrum_page_entero %}

<div class="wizard clearfix steps-show-icons steps-justified" role="application" id="steps-uid-0">
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-0" href="{% url 'edita_pedido' pedido.pk %}" aria-controls="steps-uid-0-p-0">
                <span class="current-info audible">current step: </span><span class="number">1.</span>
                <i class="fa fa-user pr5"></i> DIRECCIÓN
            </a>
        </li>
        <li role="tab"  class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-plus-circle pr5"></i> ARMA TU PEDIDO
            </a>
        </li>
        <li role="tab" aria-disabled="false" aria-selected="true">
            <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                <span class="number">3.</span> <i class="fa fa-shopping-cart pr5"></i>  DETALLE DE PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled last" aria-disabled="true">
            <a id="steps-uid-0-t-3" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-dollar pr5"></i> PAGO
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
{% block content %}
<div class="encabezado">Detalle de Pedido</div>
<br />
<div  id="UpdateDetalle">
    {% if pedido %}
        <table id="Pedido_detalle"class="table table-hover   "  cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>                    
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>                   
                </tr>
            </thead>
   
          
               
            <tbody>
                  {% for d in pedido.get_detalle_pedido %}
                <tr>
                    {% if d.producto  %}
                    <td><img src="/media/{{d.producto.imagen_producto}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.menu  %}
                    <td><img src="/media/{{d.menu.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.promocion %}
                    <td><img src="/media/{{d.promocion.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.producto_armado%}
                    <td><img src="/media/{{d.producto_armado.version.imagen_producto}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    <td>{{d.promocion.nombre}}{{d.menu.nombre}} {{d.producto.producto.nombre}} {{d.producto.clasificacion}} {{d.producto_armado.producto.slogan}}</td>                   
                    <td>
                        <input id="{{d.id}}" name="legajo" type="number" value="{{d.cantidad}}" onchange="updateDetalle(this, {{pedido.pk }})" style="width: 37px; font-size:10px;  text-align: center;">
                    </td>
                       <td>${{d.precio}}</td>
                     <td> ${{d.precio_total_unidad}} </td>
                </tr>
                 
            {% endfor %}
                 <tr><td></td><td>Sub Total</td><td></td><td></td><td>${{pedido.sub_total}}</td></tr>
                 <tr><td></td><td>Precio de Envio</td><td></td><td></td><td>${{pedido.precio_envio}}</td></tr>
                 <tr><td></td><td>TOTAL</td><td></td><td></td><td>${{pedido.precio_total}}</td></tr>
            </tbody>
         
        </table>

        {% endif %}
</div>
        <br />
<div class="row">
        <div class="bg-white">
                <div class="container">
                    <!-- /.sponsors_frame_slider-->
                    {% static_placeholder 'Tipo de productos detalle' %}
                </div>
             </div>
    </div>
<div class="row">
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
  Cancelar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atención</h4>
      </div>
      <div class="modal-body">
        <p>Está seguro que desea cancelar pedido</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <a href="{% url 'cancelar_pedido' pedido.id %}" class="btn btn-primary">SI</a>
      </div>
    </div>
  </div>
</div>





    {% if user.is_authenticated %}
    <a class="btn btn-large btn-primary pull-right"  href="{% url 'pedido_notificacion' pedido.id %}">Confirmar Comprar</a>
    {% else %}
    <button type="button" class="btn btn-large btn-primary pull-right" data-toggle="modal" data-target="#myModalConfirmar">
        Confirmar Comprar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModalConfirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Atención</h4>
                </div>
                <div class="modal-body">
                    <p>Debe loguearse para confirmar el pedido</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="{% url 'account_login'  %}?next={{ request.path|urlencode }}" class="btn btn-primary">Loguearse</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
   
{% endblock %}
