    {% if pedido %}
        <table id="Pedido_detalle"class="table table-hover   "  cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>                    
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>                   
                </tr>
            </thead>
   
          
               
            <tbody>
                  {% for d in pedido.get_detalle_pedido %}
                <tr>
                    {% if d.producto  %}
                    <td><img src="/media/{{d.producto.imagen_producto}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.menu  %}
                    <td><img src="/media/{{d.menu.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.promocion %}
                    <td><img src="/media/{{d.promocion.imagen}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    {% if d.producto_armado%}
                    <td><img src="/media/{{d.producto_armado.version.imagen_producto}}" alt="" width="50px" heigth="50px" /></td>
                    {% endif %}
                    <td>{{d.promocion.nombre}}{{d.menu.nombre}} {{d.producto.producto.nombre}} {{d.producto.clasificacion}} {{d.producto_armado.producto.slogan}}</td>                   
                    <td>
                        <input id="{{d.id}}" name="legajo" type="number" value="{{d.cantidad}}" onchange="updateDetalle(this, {{pedido.pk }})" style="width: 37px; font-size:10px;  text-align: center;">
                    </td>
                       <td>${{d.precio}}</td>
                     <td> ${{d.precio_total_unidad}} </td>
                </tr>
                 
            {% endfor %}
                 <tr><td></td><td>Sub Total</td><td></td><td></td><td>${{pedido.sub_total}}</td></tr>
                 <tr><td></td><td>Precio de Envio</td><td></td><td></td><td>${{pedido.precio_envio}}</td></tr>
                 <tr><td></td><td>TOTAL</td><td></td><td></td><td>${{pedido.precio_total}}</td></tr>
            </tbody>
         
        </table>

        {% endif %}