{% extends "internal_base.html" %}

{% load static %}

{% block breadcrum_page_entero %}

<div class="wizard clearfix steps-show-icons steps-justified" role="application" id="steps-uid-0">
<div class="steps clearfix">
    <ul role="tablist">
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-0" href="{% url 'edita_pedido' pedido.pk %}" aria-controls="steps-uid-0-p-0">
                <span class="current-info audible">current step: </span><span class="number">1.</span>
                <i class="fa fa-user pr5"></i> DIRECCIÓN
            </a>
        </li>
        <li role="tab"  class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-plus-circle pr5"></i> ARMA TU PEDIDO
            </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
            <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                <span class="number">3.</span> <i class="fa fa-shopping-cart pr5"></i>  DETALLE DE PEDIDO
            </a>
        </li>
        <li role="tab" aria-disabled="false" aria-selected="true">
            <a id="steps-uid-0-t-3" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                <span class="number">2.</span> <i class="fa fa-dollar pr5"></i> PAGO
            </a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
{% block content %}
<script type="text/javascript" src = "{% static 'custom_admin/vendor/plugins/datepicker/js/bootstrap-datetimepicker.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#id_importe_abonado").blur(function(){
            var monto_abonado = parseFloat($("#id_importe_abonado").val());
            var monto_total = parseFloat($("#td_precio_total").val());
            if(monto_abonado >= monto_total){
                $("#vuelto").val(monto_abonado-monto_total);
                $("#btn_confirmar_form").removeAttr('disabled');
            }
            else {
                $("#btn_confirmar_form").attr("disabled", true);
            }

        });
        $("#id_notificar_email").change(function() {
                if($(this).is(":checked")) {
                    $("#id_email").removeAttr('disabled');

;                }else {
                    $("#id_email").attr('disabled', true);
                }
        });
        $("#id_notificar_sms").change(function() {
                if($(this).is(":checked")) {
                    $("#id_celular").removeAttr('disabled');

;                }else {
                    $("#id_celular").attr('disabled', true);
                }
        });

        $('#id_hora_solicitud').datetimepicker({
          format: 'HH:mm',
        pickDate: false,
        pickSeconds: false,
        pick12HourFormat: false
          });
    });

</script>

{% if pedido %}
<table class="table table-hover" cellspacing="5" cellpadding="5">
    <thead>
        <tr>
            <th>Detalle del pedido</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Productos Solicitados</td>
        <td Style="text-align: left">{{pedido.cantidad_total_productos}}</td>
        <td>${{pedido.sub_total}}</td>

    </tr>

    <tr>
        <td>Envio</td>
        <td></td>
        <td>${{pedido.precio_envio}}</td>
    </tr>

    <tr>
        <td>TOTAL</td>
        <td></td>
        <td>${{pedido.precio_total}}</td>
    </tr>
    </tbody>

</table>
<div class="form-group row">
    <hr>
    <strong>Detalle de pago:</strong> Ingrese el importe con cual va abonar el pedido
    <hr>
</div>

<form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.non_field_errors }}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" >Importe Total: </label>
        <div class="input-group input-group-sm col-sm-2">
                <span class="input-group-addon">$</span>
                <input type="text" id="td_precio_total" class="form-control"
                       value="{{pedido.precio_total}}" disabled="disabled"
                       aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
    <div class="form-group row">
        {{form.importe_abonado.errors}}
        <label class="col-sm-3 col-form-label" for="{{ form.importe_abonado.id_for_label }}">Con cuanto abonará: </label>
        <div class="input-group input-group-sm col-xs-2">
                <span class="input-group-addon">$</span>
                {{form.importe_abonado}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" >Vuelto: </label>
        <div class="input-group input-group-sm col-xs-2">
                <span class="input-group-addon">$</span>
                <input id="vuelto" type="number" readonly="readonly"
                       class="form-control"
                       aria-label="Amount (to the nearest dollar)">
        </div>
    </div>


<div class="form-group row">
    <hr>
    <strong>Detalle de entrega:</strong>  Ingrese la hora con cual desea recibir su pedido
    <hr>
</div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Hora actual: </label>
        <div class="col-sm-3 pull-left">
              <p style="padding-top: 3.5%;">{{hora_actual}}hs</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tiempo estimado de entrega:</label>
        <div class="col-sm-3">
            <p style="padding-top: 3.5%;">{{total}}m</p>
        </div>
    </div>
   <div class="form-group row">
        {{ form.hora_solicitud.errors }}
        <label class="col-sm-3 col-form-label" for="{{ form.hora_solicitud.id_for_label }}">Solicito pedido para: </label>
        <div class="col-sm-2">
              {{ form.hora_solicitud }}
        </div>
    </div>
<div class="form-group row">
    <hr>
    <strong>Notificaciones:</strong>  Ingrese si desea recibir notificaciones via email o sms
    <hr>
</div>
    <div class="form-group row">
        {{ form.notificar_email.errors }} {{form.email.errors}}
        <label class="col-md-6 col-form-label" for="{{ form.email.id_for_label }}">
            {{form.notificar_email}} Desea recibir notificaciones  via email
        </label>
        <div class="col-md-4">
        {{ form.email }}
        </div>
    </div>
    <div class="form-group row">
        {{form.notificar_sms.errors}} {{form.celular.errors}}
        <label class="col-md-6 col-form-label" for="{{ form.celular.id_for_label }}">
            {{form.notificar_sms}} Desea recibir notificaciones  via sms
        </label>
        <div class="col-md-3">
        {{form.celular}}
        </div>
    </div>
<div class="form-group row">
    <hr>
    <strong>Observaciones</strong>  Ingrese alguna observacion o nota acerca del pedido
    <hr>
</div>
    <div class="form-group row">
        {{ form.observaciones.errors }}
        <div class="col-sm-12">
              {{ form.observaciones }}
        </div>
    </div>
    </br>
    <div class="form-group row">
        <div class="col-md-3 col-md-offset-3">
            {{ form.captcha }}
            {{ form.captcha.errors }}
        </div>
    </div>
    <div class="form-group row">
    <button id="btn_confirmar_form" disabled="disabled" type="submit"
            class="btn btn-large btn-primary pull-right">confirmar
    </button>
        </div>
    <div class="row">
    <br>
</div>
</form>
{% endif %}

{% endblock %}
