{% extends "internal_base.html" %}

{% load static  sekizai_tags%}

{% block breadcrum_page %}
<ol class="breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{% url 'home_page_view' %}">
        <span property="name">Home</span>
      </a>
      <meta property="position" content="1">
    </li>
    <li property="itemListElement" typeof="ListItem">
      <a property="item" typeof="WebPage" href="{% url 'nuevo_pedido' %}">
        <span property="name">Pedido</span>
      </a>
      <meta property="position" content="2">
    </li>
</ol>
{% endblock %}
{% block breadcrum_pedido %}
<div class="cabecera" >
 <ul class="nav nav-pills " >
    <li class="disabled"><a>DIRECCIÓN</a></li>
    <li class="disabled"><a>ARMA TU PEDIDO</a></li>
    <li class="disabled"><a>PEDIDO</a></li>
    <li class="disabled"><a href="#">PAGO Y ENTREGA</a></li>
    <li class="active"><a>RESUMEN</a></li>
    </ul>
    </div>
    {% endblock %}
{% block content %}
{% addtoblock 'js' %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_notificar_email").change(function() {
                if($(this).is(":checked")) {
                    $("#id_email").removeAttr('disabled');

;                }else {
                    $("#id_email").attr('disabled', true);
                }
        });
        $("#id_notificar_sms").change(function() {
                if($(this).is(":checked")) {
                    $("#id_celular").removeAttr('disabled');

;                }else {
                    $("#id_celular").attr('disabled', true);
                }
        });
    });
</script>
{% endaddtoblock %}
    {% if pedido %}
        <table  class="table table-hover"  cellspacing="5" cellpadding="5">
            <thead>
                <tr>               
                    <th>Producto</th>                    
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>                   
                </tr>
            </thead>
            {% for d in pedido.get_detalle_pedido %}
               
            <tbody>
                <tr>
                    <td> {{d.promocion.nombre}}{{d.menu.nombre}}{{d.producto.producto.nombre}} {{d.producto.clasificacion}} {{d.producto_armado.producto.slogan}}</td>                   
                    <td>{{d.cantidad}}                       </td>
                       <td>${{d.precio}}</td>
                     <td> ${{d.precio_total_unidad}} </td>
                </tr>
                 
            {% endfor %}
                 <tr><td>Envio</td><td></td><td></td><td>${{pedido.precio_envio}}</td></tr>              
                 <tr><td>TOTAL</td><td></td><td></td><td>${{pedido.precio_total}}</td></tr>
                 <tr><td>Se abona con</td><td></td><td></td><td>${{pedido.importe_abonado}}</td></tr>
                 <tr><td>Vuelto</td><td></td><td></td><td>${{pedido.get_vuelto}}</td></tr>
            </tbody>         
        </table>
<br />
        {% if domicilio  %}
        <p>Número de Pedido: <strong>{{pedido.id}}</strong></p>
        <p>Pedido va ser enviado: <strong>{{domicilio.direccion}} {{domicilio.numero_direccion}} {{domicilio.barrio}} {{domicilio.localidad}}</strong></p>
             {% endif %}
             {% if sucursal  %}
        <p>Sucursal Asignada: <strong >{{sucursal.nombre}} {{sucursal.direccion}}</strong></p>
             {% endif %}
              <p>Solicitud de pedido: <strong>{{pedido.hora_solicitud}}</strong>hs</p>
              <p>Estado de Pedido: <strong style="color:#FF0000">{{pedido.get_estado_actual_display}}</strong></p>
              <p>Tiempo estimado preparación: <strong>{{total}}</strong> min</p>
              <p>Hora entrega de pedido: <strong >{{pedido.hora_entrega}}</strong>hs</p>
                {% endif %}             
              
                <!--<a class="btn btn-large btn-primary pull-right"  href="/">Cerrar</a>-->


<form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Indique si desea recibir notificaciones de su pedido</h4>
    <table class="table">
        <tr>
            <td>{{form.notificar_email.errors}} {{form.notificar_email}} Desea recibir notificaciones  via email</td>
            <td>Email:</td>
            <td> {{form.email}} {{form.email.errors}}</td>
        </tr>
        <tr>
            <td>{{form.notificar_sms.errors}} {{form.notificar_sms}} Desea recibir notificaciones  via sms</td>
            <td>Celular:</td>
            <td>{{form.celular}} {{form.celular.errors}}</td>
        </tr>
    </table>

    <button id="btn_confirmar_form"  type="submit"
            class="btn btn-large btn-primary pull-right">Finalizar
    </button>
</form>

{% endblock %}
