<a style="text-decoration:none; color:#f9df18; font-size:18px;"  onclick="javascript:actualizarfavorito(this, {{ pedido_his.pk }})" {% if pedido_his.favorito %} favorito="1" title="remover favorito"{% else %} favorito="0" title="añadir a favorito"{% endif %} >
    <span {% if pedido_his.favorito %}class="glyphicon glyphicon-star" favorito="1"{% else %}class="glyphicon glyphicon-star-empty" favorito="0"{% endif %}aria-hidden="true"></span>
</a>


