{% load sekizai_tags cms_tags %}
{% if pedido %}
                    {% for d in pedido.get_detalle_pedido %}
                       <div class="row">
                            <div class="col-md-2">
                                <input id="{{d.id}}" name="legajo" type="number" value="{{d.cantidad}}" onchange = "actualizarCantidad(this, {{pedido.pk }})"  style="width: 37px; font-size:10px;  text-align: center;">
                            </div>
                            <div class="col-md-6" style="font-size:10px; padding-top: 2%;">
                            {{d.promocion.nombre|title}} {{d.menu.nombre|title}}{{d.producto.producto.nombre|title}} {{d.producto.clasificacion}}  {{d.producto_armado.producto.slogan}}
                            </div>
                            <div class="col-md-2" style="font-size:10px; padding-top: 2%;">
                            ${{d.precio_total_unidad}}
                            </div>
                            <div class="col-md-2" style="padding-top: 1%;">
                            <a style="color:black;cursor: pointer;" onclick="javascript:quitarDetalle(this, {{ pedido.pk }})" id="{{d.id}}" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                            </div>

                        </div>

                    {% endfor %}
                    <div class="row">
                        <hr/>
                        <div class="col-md-8" style="font-size:10px;">
								Sub Total:
							</div>
							<div class="col-md-4" style="font-size:10px;">
								${{pedido.sub_total}}
							</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="font-size:10px;">
								Precio envio:
							</div>
							<div class="col-md-4" style="font-size:10px;">
								${{pedido.precio_envio}}
							</div>
                    </div>

                    <div class="row">
                        <hr/>
                        <div class="col-md-8" style="font-size:10px;">
								Total:
							</div>
							<div class="col-md-4" style="font-size:10px;">
								${{pedido.precio_total}}
							</div>
                    </div>
                {% endif %}
{% addtoblock 'js' %}
<script>
    $(document).ready(function () {
 		$('select').select2();
    });
</script>
{% endaddtoblock %}