{% if pedido.producto_armar %}
 <strong>{{pedido.producto_armar.producto.slogan}}</strong>
<div class="tuDetalleProducto">Tamaño</div>
<img src="/media/{{pedido.producto_armar.version.imagen_producto }}    " alt="" width="50px" heigth="50px" />  {{pedido.producto_armar.version.clasificacion }}
<br />
<br />
{% for s in secciones %}
<div class="tuDetalleProducto">{{s.nombre}}</div>

  
  
        <table  cellspacing="5" cellpadding="5">
                 {% for d in pedido.producto_armar.get_detalle_producto_armado  %}
                 {% if s.nombre == d.ingrediente.seccion.nombre %}
           <tr>
                                    <td><img src="/media/{{d.ingrediente.ingrediente.imagen}}" alt="" width="50px" heigth="50px" /></td>
                                    <td >{{d.ingrediente.ingrediente.nombre}}</td>                                   
                                </tr>
         {% endif %}
        {% endfor %}
        </table>
        <br />       
    {% endfor %}
    <br />            
        <button type="button" class="btn btn-large btn-primary pull-right" data-toggle="modal" data-target="#myModalConfirmar">
        Confirmar
    </button>
    <div class="modal fade" id="myModalConfirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Atención</h4>
                </div>
                <div class="modal-body">
                    <p>Está seguro que desea confirmar este producto armado</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="{% url 'vista_guardar_producto' pedido.pk %}" class="btn btn-primary">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
        {% endif %}




    