{% load static thumbnail sekizai_tags cms_tags %}
<div class="box">
    <div class="image-box">
        <a href="{{ object.url }}" class="white-tooltip" data-toggle="tooltip"
           data-container="body" data-placement="top"
           title="{{ object.nombre }}" target="_blank">
            <img src="{% thumbnail object.imagen 140x50 crop upscale %}"
                 alt="imagen"></a>
    </div>
</div>