{% load cms_tags sekizai_tags thumbnail %}
{% if object.titulo %}
    <h3 style="text-align: center">{{ object.titulo }}</h3>
    <br>
{% endif %}
<div class="grid-logo-carousel">
    {% for plugin in object.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>
<!-- /.grid-carousel -->

{% addtoblock 'js' %}
    <!-- Carousel Jquery -->
    <script>
        $(document).ready(function () {
            $('.grid-logo-carousel').slick({
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
                slidesToShow: 4,
                slidesToScroll: 1,
                rows: 1
            });
        });
    </script>
{% endaddtoblock %}