{% load sekizai_tags cms_tags static thumbnail %}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    {#        <ol class="carousel-indicators">#}
    {#            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
    {#            <li data-target="#myCarousel" data-slide-to="1"></li>#}
    {#            <li data-target="#myCarousel" data-slide-to="2"></li>#}
    {#        </ol>#}
    <style>
        #myCarousel{
        height: 80%;
        }
    </style>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for plugin in object.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
{% addtoblock 'js' %}
    <!-- Script to Activate the Carousel -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            });
        });
    </script>
{% endaddtoblock %}