{% load thumbnail sekizai_tags cms_tags %}
<div class="item {% if forloop.first %}active{% endif %}">
    <div class="fill" style="background-image:url('{% thumbnail object.imagen 1900x1080 crop %}');"></div>
    <div class="carousel-caption">
        {% if object.texto_inferior %}
            <h2>{{ object.texto_inferior }}</h2>
        {% endif %}
    </div>
</div>