{% load i18n sekizai_tags thumbnail %}
<div class="box">
  <div class="image-box">
    <img src="{% thumbnail object.image '350x200' crop upscale %}" alt="{{ img.alt_text }}">
    <div class="description">
      <a target="{{object.target}}"  href="{{ object.url|default:'#' }}">
        <h3>{{ object.title }}</h3>

        <p class="hidden-xs">
        	<span>
        		{{ object.summary|truncatechars:100 }}
        	</span>
        </br>
	        <span class="read-more">
			    <span>{% trans 'Mas Info' %}</span>
			    <i class="fa fa-chevron-right">
			    </i>
			</span>
		</p>
      </a>
    </div>
  </div>
</div>