{% load cms_tags sekizai_tags %}
<div class="row">
    <div class="col-lg-12">
        {% if object.title %}
            <h1>{{ object.title }}</h1>
        {% endif %}
        {% if object.subtitle %}
            <h3>{{ object.subtitle }}</h3>
        {% endif %}
        <div id="grid-carousel{{ object.id }}">
            {% for plugin in object.child_plugin_instances %}
                {% render_plugin plugin %}
            {% endfor %}

        </div>
        <!-- /.grid-carousel -->
    </div>
    <!-- /.col-lg-12 -->
</div><!-- /.row -->

{% addtoblock 'js' %}
    <!-- Carousel Jquery -->
    <script>
        $('#grid-carousel{{ object.id }}').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 1000*{{object.slide_time}},
            slidesToShow: {{ object.slides_to_show }},
            slidesToScroll: 3,
            rows: {{ object.rows_to_show }}
        });
    </script>
{% endaddtoblock %}
