{% load sekizai_tags cms_tags static thumbnail %}
<div class="panel panel-default">
    <style>
        #promoCarousel .carousel-caption {
            left: 0;
            right: 0;
            bottom: 0;
            text-align: left;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
            text-shadow: none;
        }

        #promoCarousel .list-group {
            position: absolute;
            top: 0;
            right: 0;
        }

        #promoCarousel .list-group-item {
            border-radius: 0px;
            cursor: pointer;
        }

        #promoCarousel .list-group .active {
            background-color: #eee;
        }

        @media (min-width: 992px) {
            #promoCarousel {
                padding-right: 10%;
            }

            #promoCarousel .carousel-controls {
                display: none;
            }
        }

        @media (max-width: 991px) {
            .carousel-caption p,
            #promoCarousel .list-group {
                display: none;
            }
        }
    </style>
    <div class="panel-heading">
        <h4><i class="glyphicon glyphicon-time"></i> {{ object.titulo }}</h4>
    </div>
    <div class="panel-body">
        <div id="promoCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for plugin in object.child_plugin_instances %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <img src="{% thumbnail plugin.imagen 300x300 crop upscale %}">
                        {#                        <div class="fill" style="background-image:url('{% thumbnail plugin.imagen 300x300 crop %}');"></div>#}
                        <div class="carousel-caption">
                            <h4><a href="{{ plugin.url }}">{{ plugin.texto_inferior }}</a></h4>
                        </div>
                    </div>
                {% endfor %}
            </div><!-- End Carousel Inner -->
            <ol class="carousel-indicators">
                <li data-target="#promoCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#promoCarousel" data-slide-to="1"></li>
                <li data-target="#promoCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Controls -->
            <div class="carousel-controls">
                <a class="left carousel-control" href="#promoCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#promoCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    </div>
</div>

{% addtoblock 'js' %}
    <script>
        $(document).ready(function () {

            var clickEvent = false;
            $('#promoCarousel').carousel({
                interval: 4000
            }).on('click', '.list-group li', function () {
                clickEvent = true;
                $('.list-group li').removeClass('active');
                $(this).addClass('active');
            }).on('slid.bs.carousel', function (e) {
                if (!clickEvent) {
                    var count = $('.list-group').children().length - 1;
                    var current = $('.list-group li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if (count == id) {
                        $('.list-group li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        })
        $(window).load(function () {
            var boxheight = $('#promoCarousel .carousel-inner').innerHeight();
            var itemlength = $('#promoCarousel .item').length;
            var triggerheight = Math.round(boxheight / itemlength + 1);
            $('#promoCarousel .list-group-item').outerHeight(triggerheight);
        });
    </script>

{% endaddtoblock %}