{% load cms_tags sekizai_tags thumbnail %}
{% if object.title %}
    <h3>{{ object.title }}</h3>
    <br>
{% endif %}
<div >

    {% for plugin in object.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>
<!-- /.grid-carousel -->

