{% load static thumbnail sekizai_tags cms_tags %}
<div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">

        <div class="panel-heading">
            <a href="{% url 'productos_tipo' object.tipo_producto.pk %}"
               title="{{ object.tipo_producto.nombre }}" style="color: #5f2e65;"> <img
                    src="{% thumbnail object.tipo_producto.imagen '140x100' crop upscale %}"
                    alt="{{object.tipo_producto.nombre}}"/>
                <h4>{{ object.tipo_producto.nombre|capfirst }}</h4></a>
        </div>
    </div>
</div>
