{% extends "baseadmin.html" %}

{% load static    sekizai_tags%}

{% block content %}

<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
     <li><a href="{% url 'datos_basicos_promocion' promocion.pk %}">1- Datos Básicos</a></li>
    <li class="active"><a>2- Programación</a></li>
    <li class="disabled"><a>3- Composicion</a></li>
    <li class="disabled"><a>4- Costo</a></li>

</ul>
 <br>
            <form role="form" method="post">
            <div class="col-lg-4">
                {% csrf_token %}
                {{ form.non_field_errors }}
                    {{ form.promocion }}
                <h4>Nueva programacion</h4>
                <div class="form-group row">
                     {{ form.dia_semanal.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.dia_semanal.id_for_label }}">Dia de la semana: </label>
                    <div class="col-sm-6">
                        {{ form.dia_semanal }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.hora_desde.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.hora_desde.id_for_label }}">Hora desde: </label>
                    <div class="col-sm-6">
                        {{ form.hora_desde }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.hora_hasta.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.hora_hasta.id_for_label }}">Hora hasta: </label>
                    <div class="col-sm-6">
                        {{ form.hora_hasta }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% if promocion %}
                    <h4>Actuaciones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Día</th>
                            <th>Hora Desde</th>
                            <th>Hora Hasta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for actuacion in promocion.actuaciones.all %}
                                <tr>
                                    <td>
                                        {% if actuacion in actuaciones_validas %}
                                            <span class="text-success">{{ actuacion.get_dia_semanal_display }}</span>
                                        {% else %}
                                            {% if es_template %}
                                                {{ actuacion.get_dia_semanal_display }}
                                            {% else %}
                                                <span class="text-danger">{{ actuacion.get_dia_semanal_display }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ actuacion.hora_desde }} Hs.</td>
                                    <td>{{ actuacion.hora_hasta }} Hs.</td>
                                    <td>
                                        <a href="{% url 'actuacion_promocion_elimina' promocion.pk actuacion.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Actuaciones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col-lg-12">
                <br>
                <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar Actuación
                </button>

                    {% if actuaciones_validas %}
                        <a href="{% url 'detalle_promocion' promocion.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}

            </div>
            </form>

{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'custom_admin/vendor/plugins/datepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();
          $('#id_hora_desde').datetimepicker({
          format: 'HH:mm',
        pickDate: false,
        pickSeconds: false,
        pick12HourFormat: false
          });
            $('#id_hora_hasta').datetimepicker({
            format: 'HH:mm',
        pickDate: false,
        pickSeconds: false,
        pick12HourFormat: false
            });


        });
    </script>
{% endaddtoblock %}
{% endblock %}