{% extends "baseadmin.html" %}

{% load static    sekizai_tags%}

{% block content %}

<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
     <li><a href="{% url 'datos_basicos_promocion' promocion.pk %}">1- Datos Básicos</a></li>
    <li><a href="{% url 'actuacion_promocion' promocion.pk %}">2- Programación</a></li>
    <li class="active"><a>3- Composicion</a></li>
    <li class="disabled"><a>4- Costo</a></li>

</ul>
 <br>
<div class="col-md-12">
             <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
            <form role="form" method="post">

                {% csrf_token %}
                {{ form.non_field_errors }}
                    {{ form.promocion }}
                 {{ form.tipo_detalle}}
                <h4>Composición</h4>
                <div class="radio-custom mb5">
                    <input type="radio" id="radio_producto" name="radioExample" onchange="javascript:change_radio(this, producto);">
                    <label for="radio_producto">Producto</label>
                </div>


                <div class="form-group row">
                     {{ form.tipo_producto.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.tipo_producto.id_for_label }}">Tipo de producto: </label>
                    <div class="col-sm-6">
                        {{ form.tipo_producto }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.producto.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.producto.id_for_label }}">Producto: </label>
                    <div class="col-sm-6">
                        {{ form.producto }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.version_producto.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.version_producto.id_for_label }}">Version de Producto: </label>
                    <div class="col-sm-6">
                        {{ form.version_producto }}
                    </div>
                </div>
                <div class="radio-custom mb5">
                    <input type="radio" id="radio_menu" name="radioExample" value="menu" onchange="javascript:change_radio(this, menu);">
                    <label for="radio_menu">Menú</label>
                </div>
                <div class="form-group row">
                     {{ form.menu.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.menu.id_for_label }}">Menu: </label>
                    <div class="col-sm-3">
                        {{ form.menu }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.cantidad.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.cantidad.id_for_label }}">Cantidad: </label>
                    <div class="col-sm-1">
                        {{ form.cantidad }}
                    </div>
                </div>
                <button type="submit" id="id_guardar" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar
                </button>

                 </form>
</div>
                  <div class="col-md-12">
                    {% if promocion %}
                        <h4><strong>Listado de componentes</strong></h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="fts-table-bg">
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Precio total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in promocion.detalles.all %}
                                    <tr>
                                        <td>{{detalle.get_tipo_detalle_display}}</td>
                                        {% if detalle.tipo_detalle  == 1 %}
                                            <td>{{detalle.version_producto}}</td>
                                        {% elif detalle.tipo_detalle  == 2 %}
                                            <td>{{detalle.menu}}</td>
                                        {% endif %}
                                        <td>{{detalle.cantidad}}</td>
                                        {% if detalle.tipo_detalle  == 1 %}
                                            <td>${{detalle.version_producto.precio}}</td>
                                            <td>${{detalle.precio_total_producto}}</td>
                                        {% elif detalle.tipo_detalle  == 2 %}
                                            <td>${{detalle.menu.precio_venta}}</td>
                                            <td>${{detalle.precio_total_menu}}</td>
                                        {% endif %}

                                        <td>
                                            <a href="{% url 'detalle_promocion_elimina' promocion.pk detalle.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">
                                            <p class="text-center text-danger">
                                                <em>No se encontraron productos o menues agregado</em>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      <h5>Cantidad total de productos: <strong>{{promocion.get_cantidad_total_productos}}</strong> Precio Total:$<strong>{{promocion.get_precio_total}}</strong></h5>
                    {% endif %}
                </div>
            <div class="col-lg-12">
                <br>



                        <a href="{% url 'promocion_precio' promocion.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>


            </div>

{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function() {


       // $('select').select2();




        });
        function change_radio(valor) {
 if(valor.value == "menu") {
                    $("#id_menu").removeAttr('disabled', true);
                    $("#id_producto").attr('disabled', true);
                    $("#id_tipo_producto").attr('disabled', true);
                    $("#id_version_producto").attr('disabled', true);
                    $("#id_tipo_detalle").val(2)

               }else {
                    $("#id_producto").removeAttr('disabled', true);
                    $("#id_tipo_producto").removeAttr('disabled', true);
                    $("#id_version_producto").removeAttr('disabled', true);
                    $("#id_menu").attr('disabled', true);
                    $("#id_tipo_detalle").val(1);
                }
}
;
    </script>
{% endaddtoblock %}
{% endblock %}