{% extends "baseadmin.html" %}

{% load static    sekizai_tags%}

{% block content %}

<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
    <li><a>1- Seleccion Producto</a></li>
    <li><a href="{% url 'version_producto' producto.pk %}">2- Version del Producto </a></li>
    <li class="active"><a>3- Secciones del Producto</a></li>
    <li class="disabled"><a>4- Integrantes por seccion</a></li>

</ul>
 <br>
<div class="col-md-6">
<form action="" enctype="multipart/form-data" method="post">

                {% csrf_token %}

                <h4>Nueva Seccion</h4>
                {{ form.non_field_errors }}
    {{ form.producto }}
    <div class="form-group row">
        {{ form.nombre.errors }}
        <label class="col-sm-3 control-label" for="{{ form.nombre.id_for_label }}">Nombre de seccion: </label>
        <div class="col-sm-6">
              {{ form.nombre }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.tipo_ingrediente.errors }}
        <label class="col-sm-3 control-label" for="{{ form.tipo_ingrediente.id_for_label }}">Tipo de ingrediente: </label>
        <div class="col-sm-6">
              {{ form.tipo_ingrediente }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.descripcion.errors }}
        <label class="col-sm-3 control-label" for="{{ form.descripcion.id_for_label }}">Descripcion: </label>
        <div class="col-sm-6">
              {{ form.descripcion }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.obligatoria.errors }}
        <label class="col-sm-3 control-label" for="{{ form.obligatoria.id_for_label }}">Seccion obligatoria: </label>
        <div class="col-sm-6">
              {{ form.obligatoria }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.excluyente.errors }}
        <label class="col-sm-3 control-label" for="{{ form.excluyente.id_for_label }}">Seccion excluyente: </label>
        <div class="col-sm-6">
              {{ form.excluyente }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.cantidad_exclusiones.errors }}
        <label class="col-sm-3 control-label" for="{{ form.cantidad_exclusiones.id_for_label }}">Cantidad de exclusiones: </label>
        <div class="col-sm-3">
              {{ form.cantidad_exclusiones }}
        </div>
    </div>
                <button type="submit" id="id_guardar" class="btn btn-success ">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar Sección
                </button>
</form>
    </div>
<div class="col-md-6">
                {% if producto %}
                    <h4>Secciones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Orden</th>
                            <th>Seccion</th>
                            <th>Excluyente</th>
                            <th>Tipo de Ingredientes</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for seccion in producto.secciones.all %}
                                <tr>
                                    <td>{{ seccion.orden }}</td>
                                    <td>{{ seccion.nombre }} </td>
                                    <td>{{ seccion.get_excluyente_display }} </td>
                                    <td>{{ seccion.tipo_ingrediente }}</td>
                                    <td>
                                        <a href="{% url 'seccion_elimina' producto.pk seccion.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron secciones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}



</div>
 <div class="col-lg-12">
                <br>
                    <a href="{% url 'ingredientes_producto' producto.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

            </div>
{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();

        });
    </script>
{% endaddtoblock %}
{% endblock %}