{% extends "baseadmin.html" %}

{% load static    sekizai_tags%}

{% block content %}

<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
    <li><a>1- Seleccion Producto</a></li>
    <li><a href="{% url 'version_producto' producto.pk %}">2- Version del Producto </a></li>
    <li><a href="{% url 'seccion_producto' producto.pk %}">3- Secciones del Producto</a></li>
    <li class="active"><a>4- Integrantes por seccion</a></li>

</ul>
 <br>
            <form action="" enctype="multipart/form-data" method="post">

                {% csrf_token %}

                <h4>Nueva versión</h4>
                                {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.seccion.errors }}
        <label class="col-sm-3 control-label" for="{{ form.seccion.id_for_label }}">Seccion: </label>
        <div class="col-sm-6">
              {{ form.seccion }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.ingrediente.errors }}
        <label class="col-sm-3 control-label" for="{{ form.ingrediente.id_for_label }}">Ingrediente: </label>
        <div class="col-sm-6">
              {{ form.ingrediente }}
        </div>
    </div>
                <button type="submit" id="id_guardar" class="btn btn-success ">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar Ingrediente
                </button>

                {% if producto %}
                    <h4>Secciones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Orden</th>
                            <th>Seccion</th>
                            <th>Excluyente</th>
                            <th>Ingredientes</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for seccion in producto.secciones.all %}
                                <tr>
                                    <td>{{ seccion.orden }}</td>
                                    <td>{{ seccion.nombre }} </td>
                                    <td>{{ seccion.get_excluyente_display }} </td>
                                    <td>
                                        {% for ingrediente in seccion.ingredientes.all %}
                                        {{ ingrediente.ingrediente }}
                                         <a href="{% url 'ingrediente_elimina' producto.pk ingrediente.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        {% endfor %}
                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron secciones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            <div class="col-lg-12">
                <br>
                    <a href="{% url 'producto_armar_confirmar' producto.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

            </div>
            </form>

{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();

        });
    </script>
{% endaddtoblock %}
{% endblock %}