{% extends "baseadmin.html" %}

{% load static    sekizai_tags%}

{% block content %}

<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
    <li><a>1- Seleccion Producto</a></li>
    <li class="active"><a>2- Version del Producto </a></li>
    <li class="disabled"><a>3- Secciones del Producto</a></li>
    <li class="disabled"><a>4- Integrantes por seccion</a></li>

</ul>
 <br>
<div class="row col-md-6">
            <form action="" enctype="multipart/form-data" method="post">

                {% csrf_token %}

                <h4>Nueva versión</h4>

    {{ form.non_field_errors }}
                 {{ form.producto }}
    <div class="form-group row">
        {{ form.clasificacion.errors }}
        <label class="col-sm-3 control-label" for="{{ form.clasificacion.id_for_label }}">Clasificacion: </label>
        <div class="col-sm-6">
              {{ form.clasificacion }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.imagen_producto.errors }}
        <label class="col-sm-3 control-label" for="{{ form.imagen_producto.id_for_label }}">Imagen de producto: </label>
        <div class="col-sm-6">
              {{ form.imagen_producto }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.precio.errors }}
        <label class="col-sm-3 control-label" for="{{ form.precio.id_for_label }}">Precio: </label>
        <div class="col-sm-3">
                {{ form.precio }}
            </div>
    </div>


    </br>
    <button type="submit" id="id_guardar" class="btn btn-success">
        Agregar version
    </button>
</form>
</div>
<div class="row col-md-6">
                {% if producto %}
                    <h4>Versiones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Clasificacion</th>
                            <th>Precio</th>
                            <th>Vista previa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for version in producto.versiones.all %}
                                <tr>
                                    <td>{{ version.clasificacion }}</td>
                                    <td>${{ version.precio }}</td>
                                    <td><a href="/media/{{version.imagen_producto}}" target="_blank">...</a></td>
                                    <td>
                                        <a href="{% url 'version_elimina' producto.pk version.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Versiones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


            <div class="col-lg-12">
                <br>
                        <a href="{% url 'seccion_producto' producto.pk %}" class="btn btn-default pull-right" role="button">
                            Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                 {% endif %}


            </div>
</div>

{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();

        });
    </script>
{% endaddtoblock %}
{% endblock %}