{% extends "baseadmin.html" %}

{% load static  sekizai_tags%}

{% block content %}
<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
    <li class="active"><a>1- Seleccion Producto</a></li>
    <li class="disabled"><a>2- Version del Producto </a></li>
    <li class="disabled"><a>3- Secciones del Producto</a></li>
    <li class="disabled"><a>4- Integrantes por seccion</a></li>

</ul>
<br>
<div class="col-md-6">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.tipo_producto.errors }}
        <label class="col-sm-3 control-label" for="{{ form.tipo_producto.id_for_label }}">Tipo de producto: </label>
        <div class="col-sm-6">
              {{ form.tipo_producto }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.slogan.errors }}
        <label class="col-sm-3 control-label" for="{{ form.slogan.id_for_label }}">Slogan: </label>
        <div class="col-sm-6">
              {{ form.slogan }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.version.errors }}
        <label class="col-sm-3 control-label" for="{{ form.version.id_for_label }}">Version: </label>
        <div class="col-sm-3">
              {{ form.version }}
        </div>
    </div>

    </br>
    <button type="submit" id="id_guardar" class="btn btn-success ">
        Guardar Datos Básicos y Continuar
    </button>

</form>
</div>
{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();

        });
    </script>
{% endaddtoblock %}
{% endblock %}