{% extends "baseadmin.html" %}

{% block content %}

        <div class="panel-body">
            <div class="col-lg-8">
                <form method="post">
                    {% csrf_token %}

                    <h4>Producto para armar <strong>{{ object.slogan }}</strong></h4>

                    <h4>¿Esta seguro que desea eliminar este producto para armar?</h4>

                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Eliminar
                    </button>
                    <a href="{% url 'producto_armar_list' %}">Cancelar</a>

                </form>
            </div>
        </div>

{% endblock %}