{% extends "baseadmin.html" %}

{% load static    sekizai_tags%}

{% block content %}

<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
    <li><a>1- Seleccion Producto</a></li>
    <li><a>1- Seleccion Producto</a></li>
    <li><a href="{% url 'version_producto' producto.pk %}">2- Version del Producto </a></li>
    <li><a href="{% url 'seccion_producto' producto.pk %}">3- Secciones del Producto</a></li>
    <li><a href="{% url 'ingredientes_producto' producto.pk %}">4- Integrantes por seccion</a></li>

</ul>
 <br>
<h3> Producto para Armar por el cliente</h3>
<p>Producto: <strong>{{producto.slogan}}</strong> de Tipo Producto: <strong>{{producto.tipo_producto}}</strong> </p>
                {% if producto %}
            <form role="form" method="post" >
                {% csrf_token %}
                    <h4>Versiones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Clasificacion</th>
                            <th>Precio</th>
                            <th>Vista previa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for version in producto.versiones.all %}
                                <tr>
                                    <td>{{ version.clasificacion }}</td>
                                    <td>${{ version.precio }}</td>
                                    <td><a href="/media/{{version.imagen_producto}}" target="_blank">...</a></td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron Versiones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                   <h4>Secciones</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Orden</th>
                            <th>Seccion</th>
                            <th>Excluyente</th>
                            <th>Ingredientes</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for seccion in producto.secciones.all %}
                                <tr>
                                    <td>{{ seccion.orden }}</td>
                                    <td>{{ seccion.nombre }} </td>
                                    <td>{{ seccion.get_excluyente_display }} </td>
                                    <td>
                                        {% for ingrediente in seccion.ingredientes.all %}
                                        {{ ingrediente.ingrediente }}
                                        {% endfor %}
                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron secciones creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                <br>

            <button type="submit" class="btn btn-success btn-lg modal_proceso_grande">
                Finalizar
                        </button>
                </form>
                 {% endif %}

{% endblock %}