{% extends "baseadmin.html" %}

{% block content %}


        <div class="inline pull-right">
                <a href="{% url 'nuevo_producto_armar' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo Producto para armar
                    </button>
                </a>
            </div>
<h1>Productos para armar</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo producto</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for producto in object_list %}
            <tr>
                <td>{{ producto.slogan }}</td>
                <td>{{ producto.tipo_producto }}</td>
                <td>
                    <a href="{% url 'producto_armar_update' producto.pk %}">
                        <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span>
                    </a>
                    <a href="{% url 'producto_armar_elimina' producto.pk %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No hay productos para armar </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}