{% extends "baseadmin.html" %}

{% block content %}


        <div class="inline pull-right">
                <a href="{% url 'nueva_promocion' %}">
                    <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                        <span class="glyphicon glyphicon-plus"></span> Nueva Promocion
                    </button>
                </a>
            </div>
<h1>Promocion</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Programacion</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for promocion in object_list %}
            <tr>
                <td>{{ promocion.nombre }}</td>
                <td>{{ promocion.descripcion }}</td>
                <td>{{ promocion.precio }}</td>
                <td>{{ promocion.stock }}</td>
                <td>{{promocion.actuaciones_promocion}}</td>
                <td>
                    <a href="{% url 'datos_basicos_promocion' promocion.pk %}">
                        <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span>
                    </a>
                    <a href="{% url 'promocion_elimina' promocion.pk %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No hay promociones </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}