{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
     <li><a href="{% url 'datos_basicos_promocion' promocion.pk %}">1- Datos Básicos</a></li>
    <li><a href="{% url 'actuacion_promocion' promocion.pk %}">2- Programación</a></li>
    <li><a href="{% url 'detalle_promocion' promocion.pk %}">3- Composicion</a></li>
    <li class="active"><a>4- Costo</a></li>

</ul>
 <br>


          <form action="" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                {{ form.non_field_errors }}
                  <div class="col-lg-6">

                    {% if promocion %}
                        <h4><strong>Listado de componentes</strong></h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="fts-table-bg">
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Precio total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in promocion.detalles.all %}
                                    <tr>
                                        <td>{{detalle.get_tipo_detalle_display}}</td>
                                        {% if detalle.tipo_detalle  == 1 %}
                                            <td>{{detalle.version_producto}}</td>
                                        {% elif detalle.tipo_detalle  == 2 %}
                                            <td>{{detalle.menu}}</td>
                                        {% endif %}
                                        <td>{{detalle.cantidad}}</td>
                                        {% if detalle.tipo_detalle  == 1 %}
                                            <td>{{detalle.version_producto.precio}}</td>
                                            <td>{{detalle.precio_total_producto}}</td>
                                        {% elif detalle.tipo_detalle  == 2 %}
                                            <td>{{detalle.menu.precio_venta}}</td>
                                            <td>{{detalle.precio_total_menu}}</td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">
                                            <p class="text-center text-danger">
                                                <em>No se encontraron productos o menues agregado</em>
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      <h5>Cantidad total de productos: <strong>{{promocion.get_cantidad_total_productos}}</strong> Precio Total:$<strong>{{promocion.get_precio_total}}</strong></h5>
                    {% endif %}


                        <h4>Composición</h4>
                     <div class="form-group row">
                     {{ form.descuento.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.descuento.id_for_label }}">Descuento(%): </label>
                    <div class="col-sm-3">
                        {{ form.descuento }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.precio.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.precio.id_for_label }}">Precio(%): </label>
                    <div class="col-sm-3">
                        {{ form.precio }}
                    </div>
                </div>
                <div class="form-group row">
                     {{ form.imagen.errors }}
                    <label class="col-sm-3 control-label" for="{{ form.imagen.id_for_label }}">Imagen: </label>
                    <div class="col-sm-6">
                        {{ form.imagen }}
                    </div>
                </div>
                      <a href="/media/{{promocion.imagen}}" target="_blank"><img src="/media/{{promocion.imagen}}" alt="" width="100px" heigth="100px" /></a>

                </div>
            <div class="col-lg-12">
                <br>
                <button type="submit" id="id_guardar" class="btn btn-success btn-sm">
                      Confirmar datos
                </button>


                        <a href="{% url 'promocion_list' %}" class="btn btn-default pull-right" role="button">
                            Finalizar
                        </a>


            </div>
 </form>

{% endblock %}