{% extends "baseadmin.html" %}

{% load static  sekizai_tags %}

{% block content %}
<!--<h4 class="inline">Nueva Promoción: Datos Básicos</h4>-->
<ul class="nav nav-tabs">
    <li class="active"><a>1- Datos Básicos</a></li>
    <li class="disabled"><a>2- Programación</a></li>
    <li class="disabled"><a>3- Composicion</a></li>
    <li class="disabled"><a>4- Costo</a></li>

</ul>
</br>
<div class="col-md-6">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.nombre.errors }}
        <label class="col-sm-3 control-label" for="{{ form.nombre.id_for_label }}">Nombre: </label>
        <div class="col-sm-6">
              {{ form.nombre }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.descripcion.errors }}
        <label class="col-sm-3 control-label" for="{{ form.descripcion.id_for_label }}">Descripcion: </label>
        <div class="col-sm-6">
              {{ form.descripcion }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.precio.errors }}
        <label class="col-sm-3 control-label" for="{{ form.precio.id_for_label }}">Precio: </label>
        <div class="col-sm-3">
              {{ form.precio }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.stock.errors }}
        <label class="col-sm-3 control-label" for="{{ form.stock.id_for_label }}">Stock: </label>
        <div class="col-sm-3">
              {{ form.stock }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.fecha_inicio.errors }}
        <label class="col-sm-3 control-label" for="{{ form.fecha_inicio.id_for_label }}">Fecha inicio: </label>
        <div class="col-sm-3">
              {{ form.fecha_inicio }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.fecha_fin.errors }}
        <label class="col-sm-3 control-label" for="{{ form.fecha_fin.id_for_label }}">Fecha fin: </label>
        <div class="col-sm-3">
              {{ form.fecha_fin }}
        </div>
    </div>
    </br>
    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
        Guardar Datos Básicos y Continuar
    </button>
  
</form>
</div>

{% addtoblock 'js' %}
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#id_fecha_inicio').datetimepicker({format: 'YYYY-MM-DD'});
        $('#id_fecha_fin').datetimepicker({format: 'YYYY-MM-DD'});
        });
    </script>
{% endaddtoblock %}
{% endblock %}