{% extends "baseadmin.html" %}

{% load crispy_forms_tags %}

{% block content %}

        <div class="panel-body">
            <div class="col-lg-8">
                <form method="post">
                    {% csrf_token %}

                    <h4>Promocion <strong>{{ object.promocion.nombre }}</strong></h4>

                    <h4>¿Esta seguro que desea eliminar esta promocion?</h4>

                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Eliminar
                    </button>
                    <a href="{% url 'promocion_list' %}">Cancelar</a>

                </form>
            </div>
        </div>

{% endblock %}