{% extends "baseadmin.html" %}

{% load static sekizai_tags %}
{% block content %}
    <div class="inline pull-right">
        <a href="{% url 'nuevo_promedio_cola' %}">
            <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                <span class="glyphicon glyphicon-plus"></span> Nuevo promedio en cola
            </button>
        </a>
    </div>
    <h4>Tiempo Promedio de  Pedido en cola</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="fts-table-bg">
                <th>Dia de la semana</th>
                <th>Hora desde</th>
                <th>Hora hasta</th>
                <th>Cocineros</th>
                <th>Promedio(min)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tiempo in object_list %}
            <tr>
                <td><a href="{% url 'promedio_cola_update' tiempo.pk %}">{{ tiempo.get_dia_semanal_display }}</a></td>
                <td>{{ tiempo.hora_desde }} Hs.</td>
                <td>{{ tiempo.hora_hasta }} Hs.</td>
                <td>{{ tiempo.cantidad_cocineros }}</td>
                <td>{{ tiempo.promedio}}</td>
                <td>
                    <a href="{% url 'promedio_cola_elimina' tiempo.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">
                    <p class="text-center text-danger">
                        <em>No se encontraron tiempos promedios colas creados.</em>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}