{% extends "baseadmin.html" %}

{% load static sekizai_tags%}

{% block content %}
<div class="col-md-6">
    <h4>Nuevo Tiempo PreparacionPromedio del Producto</h4>
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.producto.errors }}
        <label class="col-sm-3 control-label" for="{{ form.producto.id_for_label }}">Producto: </label>
        <div class="col-sm-6">
              {{ form.producto }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.cantidad_minima.errors }}
        <label class="col-sm-3 control-label" for="{{ form.cantidad_minima.id_for_label }}">Cantidad minima: </label>
        <div class="col-sm-3">
              {{ form.cantidad_minima }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.cantidad_maxima.errors }}
        <label class="col-sm-3 control-label" for="{{ form.cantidad_maxima.id_for_label }}">Cantidad maxima: </label>
        <div class="col-sm-3">
              {{ form.cantidad_maxima }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.promedio.errors }}
        <label class="col-sm-3 control-label" for="{{ form.promedio.id_for_label }}">Promedio: </label>
        <div class="col-sm-3">
              {{ form.promedio }}
        </div>
    </div>

    </br>
    <button type="submit" id="id_guardar" class="btn btn-success ">
        <span class="glyphicon glyphicon-plus"></span>
        Agregar Nuevo promedio en preparacion de producto
    </button>

</form>
</div>
{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();

        });
    </script>
{% endaddtoblock %}
{% endblock %}