{% extends "baseadmin.html" %}

{% load static sekizai_tags %}
{% block content %}
    <div class="inline pull-right">
        <a href="{% url 'nuevo_promedio_producto' %}">
            <button type="button" class="btn btn-info btn-sm fts-bg-gris-osc-gradiente">
                <span class="glyphicon glyphicon-plus"></span> Nuevo promedio de producto
            </button>
        </a>
    </div>
    <h4>Tiempo Preparacion Promedio de Producto</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="fts-table-bg">
                <th>Producto</th>
                <th>Cantidad Mínima</th>
                <th>Cantidad Máxima</th>
                <th>Promedio(min)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tiempo in object_list %}
            <tr>
                <td><a href="{% url 'promedio_producto_update' tiempo.pk %}">{{ tiempo.producto }}</a></td>
                <td>{{ tiempo.cantidad_minima }} </td>
                <td>{{ tiempo.cantidad_maxima }} </td>
                <td>{{ tiempo.promedio}}</td>
                <td>
                    <a href="{% url 'promedio_producto_elimina' tiempo.pk %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">
                    <p class="text-center text-danger">
                        <em>No se encontraron tiempos preparacion promedios de productos creados.</em>
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}