{% extends "baseadmin.html" %}

{% load crispy_forms_tags %}

{% block content %}

        <div class="panel-body">
            <div class="col-lg-8">
                <form method="post">
                    {% csrf_token %}

                    <h4>Tiempo promedio de entrega </h4>

                    <h4>¿Esta seguro que desea eliminar este tiempo promedio
                        <strong>
                            {{ object.get_dia_semanal_display }}:
                            {{ object.hora_desde }} -
                            {{ object.hora_hasta }}
                        </strong>?</h4>

                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Eliminar
                    </button>
                    <a href="{% url 'promedio_entrega_list' %}">Cancelar</a>

                </form>
            </div>
        </div>
{% endblock %}