{% extends "baseadmin.html" %}

{% load static sekizai_tags%}

{% block content %}
<div class="col-md-6">
    <h4>Nuevo Tiempo Promedio del Pedido en cola</h4>
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.dia_semanal.errors }}
        <label class="col-sm-3 control-label" for="{{ form.dia_semanal.id_for_label }}">Dia semanal: </label>
        <div class="col-sm-6">
              {{ form.dia_semanal }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.hora_desde.errors }}
        <label class="col-sm-3 control-label" for="{{ form.hora_desde.id_for_label }}">Hora desde: </label>
        <div class="col-sm-3">
              {{ form.hora_desde }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.hora_hasta.errors }}
        <label class="col-sm-3 control-label" for="{{ form.hora_hasta.id_for_label }}">Hora hasta: </label>
        <div class="col-sm-3">
              {{ form.hora_hasta }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.cantidad_cocineros.errors }}
        <label class="col-sm-3 control-label" for="{{ form.cantidad_cocineros.id_for_label }}">Cantidad de cocineros: </label>
        <div class="col-sm-3">
              {{ form.cantidad_cocineros }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.promedio.errors }}
        <label class="col-sm-3 control-label" for="{{ form.promedio.id_for_label }}">Promedio: </label>
        <div class="col-sm-3">
              {{ form.promedio }}
        </div>
    </div>

    </br>
    <button type="submit" id="id_guardar" class="btn btn-success ">
        <span class="glyphicon glyphicon-plus"></span>
       Agregar Nuevo promedio en cola
    </button>

</form>
</div>

{% addtoblock 'js' %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'custom_admin/vendor/plugins/datepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

          $('select').select2();
$('#id_hora_desde').datetimepicker({
          format: 'HH:mm',
        pickDate: false,
        pickSeconds: false,
        pick12HourFormat: false
          });
            $('#id_hora_hasta').datetimepicker({
            format: 'HH:mm',
        pickDate: false,
        pickSeconds: false,
        pick12HourFormat: false
            });
        });
    </script>
{% endaddtoblock %}
{% endblock %}