.item{border:1px solid #d9d9d9;margin:0 0 10px 0;background-color:#e6e6e6;}
.header {position: relative;background-color: #fff;  height: 100px;
    width: 748px}
.header .column { float: right;width: 500px;  height: 100px;padding: 40px 0;}
.header img {float: left;width:140px; height:100px;}
.header a{color:black; font-weight: bold; display: block; overflow:hidden; cursor: pointer; }
.header a:hover,
.header a:focus { color: #ffffff; background-color:#D10D1C;}
.header h2 {
font-family: DominosFont,Arial,Helvetica,sans-serif;
font-size: 18px;
}