{% extends "baseadmin.html" %}

{% load static  sekizai_tags %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">

        <div class="col-lg-3">
            {{ form.buscar.errors }}
            {{ form.buscar }}
        </div>
        <div class="col-lg-3">
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                Buscar
            </button>
        </div>
    </div>
    </br>

    <table class="table table-hover mbn">
        <thead>
            <tr>
                <th>Pedido n°</th>
                <th>Fecha del pedido</th>
                <th>Cliente</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in listado_de_pedido %}
            <tr>
                <td>{{ pedido.pk }}</td>
                <td>{{ pedido.fechaPedido }}</td>
                <td>{{ pedido.cliente}}</td>
                <td>{{ pedido.email|default:"sin email" }}</td>
                <td>{{ pedido.celular|default:"sin celular" }}</td>
                <td>
                    {% if pedido.get_historico_estado_actual %}
                    {{ pedido.get_estado_actual_display }}
                    {% endif %}
                </td>
                <td>
                    <a class=""  href="{% url 'pedido_detalle' pedido.pk %}" title="ver pedido"><span class="fa fa-search" aria-hidden="true"></span></a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="4">No existen pedidos</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  
</form>

{% endblock %}