{% extends "baseadmin.html" %}

{% load static  sekizai_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h5>Pedido n°  <strong class="text-primary mn"> {{pedido.pk}}</strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h5>Cliente <strong class="text-primary mn"> {{pedido.cliente}}</strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h5>Fecha de solicitud de pedido  <strong class="text-primary mn"> {{pedido.fechaPedido|date:"d/m/Y"}}</strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h5>Hora de entrega aproximada  <strong class="text-primary mn"> {{pedido.hora_entrega}} hs</strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h5>Estado  <strong class="text-primary mn"> {{pedido.get_estado_actual_display}}</strong></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h5>Servicio  <strong class="text-primary mn"> {{pedido.get_servicio_display}}</strong></h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4>Detalle del pedido</h4>
        <table class="table">
            <thead>
                <tr class="info">
                    <th>Productos</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
            {% for detalle in pedido.detalles.all %}
                <tr>
                    <td>
                        {{detalle.promocion.nombre}}{{detalle.menu.nombre}}{{detalle.producto.producto.nombre}} {{detalle.producto.clasificacion}} {{detalle.producto_armado.producto.slogan}}
                    </td>
                    <td>{{detalle.cantidad}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4>Historial del estado pedido</h4>
        <table class="table">
            <thead>
                <tr class="system">
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
            {% for estado in pedido.estados.all %}
                <tr>
                    <td>{{estado.get_estado_display}}</td>
                    <td>{{estado.fecha|date:"d/m/Y H:i"}} hs</td>
                    <td>{{estado.observaciones|default:"(sin observaciones)"}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}