{% extends "baseadmin.html" %}
{% load static sekizai_tags %}

{% block content %}
    <div class="row" id="contenedor_pedidos">

    </div>
<script type="text/javascript"
        src="{% static 'custom_admin/vendor/plugins/html5sortable/jquery.sortable.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        load_orders();
    });
    function load_orders(){
         $.get('{% url 'order_management_view' %}', function (data) {
                $('#contenedor_pedidos').html(data);
            });
    }
</script>
{% endblock %}