{% load static thumbnail sekizai_tags %}
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<title>Administracion {{ nombre_empresa }}</title>
<meta name="keywords" content="Admin"/>
<meta name="description" content="{{ nombre_empresa }}">
<meta name="author" content="{{ nombre_empresa }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Font CSS (Via CDN) -->
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300">
<link rel="stylesheet" type="text/css" href="{% static 'custom_admin/css/custom_admin.css' %}">


<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'custom_admin/assets/skin/default_skin/css/theme.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'custom_admin/assets/admin-tools/admin-forms/css/admin-forms.css' %}">
        <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'custom_admin/vendor/plugins/datatables/media/css/dataTables.bootstrap.css' %}">


<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'custom_admin/assets/img/favicon.ico' %}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->


<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="{% static 'custom_admin/vendor/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/bootstrap/holder.min.js' %}"></script>

<script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/bootbox/bootbox.js' %}"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/utility/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/demo.js' %}"></script>

<!-- Page Plugins -->
<script type="text/javascript"
        src="{% static 'custom_admin/vendor/plugins/magnific/jquery.magnific-popup.js' %}"></script>

<!-- Admin Widgets  -->
<script type="text/javascript"
        src="{% static 'custom_admin/assets/admin-tools/admin-plugins/admin-panels/json2.js' %}"></script>
<script type="text/javascript"
        src="{% static 'custom_admin/assets/admin-tools/admin-plugins/admin-panels/jquery.ui.touch-punch.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'custom_admin/assets/admin-tools/admin-plugins/admin-panels/adminpanels.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/es.js' %}"></script>
      <!--<script type="text/javascript" charset="utf8" src="{% static 'js/datatable.js' %}"></script>-->
       <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/datatables/media/js/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>


<![endif]-->