{% load thumbnail %}
<div class="modal-content">
    <div class="modal-header">
        <h4><b> Sucursal {{ pedido.sucursal }} - {{ pedido.get_servicio_display }} </b></h4>
        {% if pedido.servicio == 1%}
            <h5>Destino: {{pedido.get_detalle_direccion}}</h5>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <div style="color:#888;">
                    {{pedido.fechaPedido| date:"d M Y H:s"}}
                </div>
            </div>
            <div class="col-md-6">
                    <p style="text-align:right;">Nro Pedido: {{pedido.id}}</p>
                </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Detalle del pedido</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for detalle in pedido.get_detalle_pedido %}

                            <tr>
                                <td>{{detalle}}</td>
                                <td Style="text-align: left">{{detalle.cantidad}}</td>
                                <td>${{detalle.precio_total_unidad}}</td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Subtotal</td>
                                <td Style="text-align: left"></td>
                                <td>${{pedido.sub_total}}</td>

                            </tr>
                            <tr>
                                <td>Envio</td>
                                <td></td>
                                <td>${{pedido.precio_envio}}</td>
                            </tr>
                            <tr>
                                <td><b>TOTAL</b></td>
                                <td></td>
                                <td><b>${{pedido.precio_total}}</b></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6" style="background-color: #ffe4e1; border-radius:5px;">
                        <p style="text-align: center;">Si vás a repetir el pedido ten en cuenta que
                            los precios y descuentos pueden haber cambiado
                    </div>
                </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</div>
<style>
.modal {
    left:25%;
    top:10%;
}
</style>
