{% load thumbnail %}
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center; padding: 1px 15px;">
            <h4> Sucursal {{ sucursal.nombre }}</h4>
        </div>

        <div class="panel-body">
            <div class="row">
                    <div class="panel-body" style="padding: 15px 25px;">
                        <div class="row">
                            <i class="glyphicon glyphicon-map-marker"></i> {{ sucursal.direccion }} {{ sucursal.numero_direccion }}, {{ sucursal.barrio }}
                            <p>{{ sucursal.localidad }}.</p>
                        </div>
                        <div class="row">
                                {% if sucursal.ofrece_servicio_delivery %}
                                    <p><i class="glyphicon glyphicon-check"></i> Delivery</p>
                                {% endif %}
                                {% if sucursal.ofrece_servicio_para_llevar %}
                                    <p><i class="glyphicon glyphicon-check"></i> Puede retirar en Sucursal
                                    </p>
                                {% endif %}
                                {% if sucursal.ofrece_sercicio_consumo_sucursal %}
                                    <p><i class="glyphicon glyphicon-check"></i> Puede consumir en Sucursal</p>
                                {% endif %}
                                <p> <i class="fa fa-phone"></i>
                                    {% for telefono in sucursal.telefonosucursal_set.all %}
                                        {{ telefono.numero }}{% if not forloop.last %} -{% endif %}
                                    {% endfor %}
                                </p>
                                {% if sucursal.horarios_de_atencion_display %}
                                    <p><i class="fa fa-clock-o"></i> {{ sucursal.horarios_de_atencion_display }}</p>

                                {% else %}
                                    {% for horario in sucursal.get_horarios_de_atencion %}
                                        <p><i class="fa fa-clock-o"></i> {{ horario }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        <div class="row">
                        {% if servicio == 1 %}
                            <button sucursal_id="{{sucursal.id}}" type="submit" class="delivery_button btn btn-success btn-lg pull-right" onclick="javascript:registrar(this)">
                            Seleccionar
                        </button>
                        {% endif %}
                           {% if servicio == 2 %}
                            <button id="btn-sucursal" sucursal_id="{{sucursal.id}}"  class="btn btn-success btn-lg pull-right" >
                            Seleccionar
                        </button>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
</div>
