{% extends "baseadmin.html" %}

{% load static  sekizai_tags i18n %}

{% block content %}
<h3>Evolucion de registro de usuarios</h3>
<div class="row">
    <figure>
        <embed type="image/svg+xml" src="/media/imagenes/reportes/evolucion_registro.svg" />
    </figure>
</div>

{% endblock %}