{% extends "baseadmin.html" %}

{% load static  sekizai_tags i18n %}

{% block content %}
<h3 >Pedidos gestionados por sucursales</h3>
{% for sucursal in sucursales_bar %}
<div {% if forloop.last %} id="p6" {% endif %} class="row">
    <figure>
        <embed type="image/svg+xml" src="/media/imagenes/reportes/{{sucursal}}" />
    </figure>
</div>
{% endfor %}
{% endblock %}