{% extends "baseadmin.html" %}

{% load static  sekizai_tags i18n %}

{% block content %}
<h3 >Usuarios registrados por RED SOCIAL</h3>
                                        <div class="row" style="max-width: 1250px; margin: 0 auto;">
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-light">
                                                            <i class="fa fa-trello text-muted fs45 br64 bg-light dark p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_social }}</h1>
                                                            <h6 class="text-system">REGISTROS TOTALES</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-primary light">
                                                            <i class="fa fa-trello text-muted fs45 br64 bg-primary p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_social_masculino }}</h1>
                                                            <h6 class="text-white">MASCULINO</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-danger light">
                                                            <i class="fa fa-trello text-muted fs45 br64 bg-danger p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_social_femenino }}</h1>
                                                            <h6 class="text-white">FEMENINO</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="max-width: 1250px; margin: 0 auto;">
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-light">
                                                            <i class="fa fa-facebook text-muted fs45 br64 bg-light dark p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_facebok }}</h1>
                                                            <h6 class="text-system">REGISTROS TOTALES</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-primary light">
                                                            <i class="fa fa-facebook text-muted fs45 br64 bg-primary p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_facebook_masculino }}</h1>
                                                            <h6 class="text-white">MASCULINO</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-danger light">
                                                            <i class="fa fa-facebook text-muted fs45 br64 bg-danger p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_facebook_femenino }}</h1>
                                                            <h6 class="text-white">FEMENINO</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="max-width: 1250px; margin: 0 auto;">
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-light">
                                                            <i class="fa fa-google text-muted fs45 br64 bg-light dark p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_gmail }}</h1>
                                                            <h6 class="text-system">REGISTROS TOTALES</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div class="panel-body bg-primary light">
                                                            <i class="fa fa-google text-muted fs45 br64 bg-primary p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_gmail_masculino }}</h1>
                                                            <h6 class="text-white">MASCULINO</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-tile text-center">
                                                        <div class="panel-heading hidden">
                                                            <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                                                        </div>
                                                        <div id="p5" class="panel-body bg-danger light">
                                                            <i class="fa fa-google text-muted fs45 br64 bg-danger p15 ph20 mt10"></i>
                                                            <h1 class="fs35 mbn">{{ estadisticas.total_gmail_femenino }}</h1>
                                                            <h6 class="text-white">FEMENINO</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
{% endblock %}