{% extends "baseadmin.html" %}

{% load static  sekizai_tags i18n %}

{% block content %}
<h3>Tipos de Usuarios Registrados</h3>
<div class="row">
    <figure>
        <embed type="image/svg+xml" src="/media/imagenes/reportes/tipo_user_femenino.svg" />
    </figure>
</div>
<div class="row">
    <figure>
        <embed type="image/svg+xml" src="/media/imagenes/reportes/tipo_user_masculino.svg" />
    </figure>
</div>
<div class="row">
    <figure>
        <embed type="image/svg+xml" src="/media/imagenes/reportes/tipo_user_ambos.svg" />
    </figure>
</div>
{% endblock %}