{% extends "baseadmin.html" %}

{% load static  sekizai_tags i18n %}

{% block content %}
<h3>TOP TEN Usuarios + Consumidores</h3>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">2017</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">2016</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading15">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                                                   href="#collapse15" aria-expanded="false" aria-controls="collapse15" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Promedio año 2017
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_year_2017 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading14">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                                                    href="#collapse14" aria-expanded="false" aria-controls="collapse14" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Febrero
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month_2017.2 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading13">
                                                        <div class="row">
                                                            <div  class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2"
                                                                    href="#collapse13" aria-expanded="false" aria-controls="collapse13" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Enero
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                                        <div  class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month_2017.1 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading0">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                   href="#collapse0" aria-expanded="false" aria-controls="collapse0" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Promedio año 2016
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_year %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading1">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse1" aria-expanded="false" aria-controls="collapse1" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Diciembre
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.12 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading2">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse2" aria-expanded="false" aria-controls="collapse2" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Noviembre
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.11 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading3">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse3" aria-expanded="false" aria-controls="collapse3" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Octubre
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.10 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading4">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse4" aria-expanded="false" aria-controls="collapse4" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Septiembre
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.9 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading5">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse5" aria-expanded="false" aria-controls="collapse5" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Agosto
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.8 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading6">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse6" aria-expanded="false" aria-controls="collapse6" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Julio
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.7 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading7">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse7" aria-expanded="false" aria-controls="collapse7" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Junio
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.6 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading8">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse8" aria-expanded="false" aria-controls="collapse8" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Mayo
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.5 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading9">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse9" aria-expanded="false" aria-controls="collapse9" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Abril
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.4 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading10">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse10" aria-expanded="false" aria-controls="collapse10" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Marzo
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.3 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading11">
                                                        <div class="row">
                                                            <div class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse11" aria-expanded="false" aria-controls="collapse11" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Febrero
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                                        <div class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.2 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading12">
                                                        <div class="row">
                                                            <div id="p2" class="col-md-12" style="font-size:12px; text-decoration:none; color:black;">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                                    href="#collapse12" aria-expanded="false" aria-controls="collapse12" style="font-size:12px; text-decoration:none; color:black;">
                                                                    Enero
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                                        <div  class="panel-body" style="font-size:10px;">
                                                            <ul class="list-group">
                                                                {% for cliente in estadisticas.clientes_month.1 %}
                                                                <li class="list-group-item">
                                                                    <div class="row">
                                                                    {% ifequal cliente.0 "google" %}
                                                                    <span class="fa fa-google fs20  text-primary col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% ifequal cliente.0 "facebook" %}
                                                                    <span class="fa fa-facebook-square fs20  text-danger col-sm-3" aria-hidden="true"></span>
                                                                    {% endifequal %}
                                                                    {% if not cliente.0 %}
                                                                    <i class="fa fa-user fs20 col-sm-3" aria-hidden="true"></i>
                                                                    {% endif %}
                                                                    <p class="col-sm-5">{{cliente.1}}</p>
                                                                    <p class="col-sm-3 pull-right" style="text-align: right; color:red">{{cliente.2}}%</p>
                                                                    </div>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

    </div>

  </div>

</div>
{% endblock %}