{% extends "baseadmin.html" %}

{% load static  sekizai_tags i18n %}

{% block content %}

<div class="col-xs-12">
    <h3>Datos de Usuario</h3>
    <a href="{% url 'reportes_clientes_exporta'  %}" class="btn btn-default pull-right" role="button">
                            Exportar como csv
                        </a>
    <div class="box">
                                                    <!-- <div class="box-header">
                                                                        <h3 class="box-title">Data Table With Full Features</h3>
                                                    </div> --><!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="tablePedidosPendientes" class="table table-bordered table-striped" style="width: 100% !important;">
                <thead>
                <tr>
                    <th>{% trans 'id' %}</th>
                    <th>{% trans 'Nombre' %}</th>
                    <th>{% trans 'Apellido' %}</th>
                    <th>{% trans 'Barrio' %}</th>
                    <th>{% trans 'Red Social' %}</th>
                    <th>{% trans 'Cantidad Pedidos' %}</th>
                    <th>{% trans 'Cantidad Cancelados' %}</th>

                </tr>
                </thead>


            </table>
        </div>
                                                <!-- /.box-body -->
    </div>
                                            <!-- /.box -->
</div>

  {% addtoblock 'js' %}

        <script type="text/javascript">
            $(document).ready(function () {
                $('#tablePedidosPendientes').dataTable({
                    sAjaxSource: '{% url 'reportes_clientes' %}',
                    bProcessing: true,
                    serverSide: false,
                    language:{
                        url:"//cdn.datatables.net/plug-ins/380cb78f450/i18n/Spanish.json"
                    },
                    aoColumns: [
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null
                    ]


		});




            });
        </script>
    {% endaddtoblock %}
{% endblock %}