<!-- Start: Sidebar -->
<aside id="sidebar_left" class="nano nano-primary">
    <div class="nano-content">

        <!-- sidebar menu -->
        <ul class="nav sidebar-menu">
            <!--<li class="sidebar-label pt20">Menu</li>
            <li id="menu_slider">
                <a href="{% url 'promocion_list' %}">
                    <span class="glyphicons glyphicons-picture"></span>
                    <span class="sidebar-title">Promociones</span>
                </a>
            </li>
            <li id="menu_producto">
                <a href="{% url 'producto_armar_list' %}">
                    <span class="glyphicons glyphicons-sampler"></span>
                    <span class="sidebar-title">Productos para armado</span>
                </a>
            </li>
            <li id="tiempo_promedio_cola">
                <a href="{% url 'promedio_cola_list' %}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-title">Promedio de Pedido en cola</span>
                </a>
            </li>
            <li id="tiempo_promedio_entrega">
                <a href="{% url 'promedio_entrega_list' %}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-title">Promedio en entrega</span>
                </a>
            </li>
            <li id="tiempo_promedio_producto">
                <a href="{% url 'promedio_producto_list' %}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-title">Promedio de preparacion del producto</span>
                </a>
            </li>-->
            <!-- sidebar resources -->
            <li class="sidebar-label pt20">Componentes</li>
            <li id="menu_splash">
                <a href="{% url 'pedidos_view' %}">
                    <span class="glyphicons glyphicons-shopping_cart"></span>
                    <span class="sidebar-title">Pedidos</span>
                </a>
            </li>
            <li id="menu_offer">
                <a href="{% url 'pedido_busqueda' %}">
                    <span class="fa fa-search"></span>
                    <span class="sidebar-title">Busqueda de pedidos</span>
                </a>
            </li>
            <li id="menu_slider">
                <a href="{% url 'promocion_list' %}">
                    <span class="fa fa-renren"></span>
                    <span class="sidebar-title">Promociones</span>
                </a>
            </li>
            <li id="menu_producto">
                <a href="{% url 'producto_armar_list' %}">
                    <span class="fa fa-puzzle-piece"></span>
                    <span class="sidebar-title">Productos para armado</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='ingrediente' %}" >
                    <span class="glyphicons glyphicons-pizza"></span>
                    <span class="sidebar-title">Ingredientes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='clasificacion' %}" >
                    <span class="glyphicons glyphicons-classic_hammer"></span>
                    <span class="sidebar-title">Clasificaciones</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='menu' %}" >
                    <span class="glyphicons glyphicons-fast_food"></span>
                    <span class="sidebar-title">Menues</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='producto' %}" >
                    <span class="glyphicons glyphicons-kettle"></span>
                    <span class="sidebar-title">Productos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='tipoingrediente' %}" >
                    <span class="glyphicons glyphicons-fins"></span>
                    <span class="sidebar-title">Tipo de ingredientes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='tipoproducto' %}" >
                    <span class="glyphicons glyphicons-keynote"></span>
                    <span class="sidebar-title">Tipo de productos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='unidaddemedida' %}" >
                    <span class="glyphicons glyphicons-cargo"></span>
                    <span class="sidebar-title">Unidades de medidas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'componentes_iframe' componente='version' %}" >
                    <span class="glyphicons glyphicons-coins"></span>
                    <span class="sidebar-title">Versiones de productos</span>
                </a>
            </li>
            <li class="sidebar-label pt20">Recursos de empresa</li>
            <li>
                <a href="{% url 'recursos_iframe' recurso='sucursal' %}" >
                    <span class="glyphicons glyphicons-bank"></span>
                    <span class="sidebar-title">Sucursales</span>
                </a>
            </li>
            <li>
                <a href="{% url 'encargado_list' %}" >
                    <span class="glyphicons glyphicons-group"></span>
                    <span class="sidebar-title">Encargados</span>
                </a>
            </li>
            <li>
                <a href="{% url 'configuracion_parametros' %}" >
                    <span class="glyphicons glyphicons-settings"></span>
                    <span class="sidebar-title">Configuracion</span>
                </a>
            </li>
            <li>
                <a href="{% url 'auth_iframe' auth='user' %}" >
                    <span class="glyphicons glyphicons-user"></span>
                    <span class="sidebar-title">Usuarios</span>
                </a>
            </li>
            <li>
                <a href="{% url 'auth_iframe' auth='group' %}" >
                    <span class="glyphicons glyphicons-parents"></span>
                    <span class="sidebar-title">Perfiles de usuarios</span>
                </a>
            </li>
            <li class="sidebar-label pt20">Ubicaciones</li>
            <li>
                <a href="{% url 'ubicaciones_iframe' ubicacion='barrio' %}" >
                    <span class="glyphicons glyphicons-temple_buddhist"></span>
                    <span class="sidebar-title">Barrios</span>
                </a>
            </li>
            <li>
                <a href="{% url 'ubicaciones_iframe' ubicacion='localidad' %}" >
                    <span class="glyphicons glyphicons-temple_hindu"></span>
                    <span class="sidebar-title">Localidades</span>
                </a>
            </li>
            <li>
                <a href="{% url 'ubicaciones_iframe' ubicacion='provincia' %}" >
                    <span class="glyphicons glyphicons-global"></span>
                    <span class="sidebar-title">Provincias</span>
                </a>
            </li>
            <li class="sidebar-label pt20">Tiempos Promedio</li>
             <li id="tiempo_promedio_cola">
                <a href="{% url 'promedio_cola_list' %}">
                    <span class="glyphicons glyphicons-alarm"></span>
                    <span class="sidebar-title">Pedido en cola</span>
                </a>
            </li>
            <li id="tiempo_promedio_entrega">
                <a href="{% url 'promedio_entrega_list' %}">
                    <span class="glyphicons glyphicons-stopwatch"></span>
                    <span class="sidebar-title">En entrega</span>
                </a>
            </li>
            <li id="tiempo_promedio_producto">
                <a href="{% url 'promedio_producto_list' %}">
                    <span class="glyphicons glyphicons-clock"></span>
                    <span class="sidebar-title">Preparacion del producto</span>
                </a>
            </li>
            <li class="sidebar-label pt20">Reportes</li>
            <li >
                <a href="{% url 'reportes_clientes_datos' %}">
                    <span class="fa fa-bar-chart fa-lg"></span>
                    <span class="sidebar-title">Datos de Usuarios</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_top_ten_consumidores' %}">
                    <span class="fa fa-eyedropper fa-lg"></span>
                    <span class="sidebar-title">TOP TEN Consumidores</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_tipo_user' %}">
                    <span class="fa fa-building fa-lg"></span>
                    <span class="sidebar-title">Tipos de Usuarios Registrados</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_evolucion_user' %}">
                    <span class="fa fa-expand fa-lg"></span>
                    <span class="sidebar-title">Evolucion de Usuarios Registrados</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_red_social' %}">
                    <span class="fa fa-leaf fa-lg"></span>
                    <span class="sidebar-title">Registrados por RED SOCIAL</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_pedidos_por_sucursal' %}">
                    <span class="fa fa-code-fork fa-lg"></span>
                    <span class="sidebar-title">Pedidos por sucursales</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_top_ten_barrio' %}">
                    <span class="fa fa-cogs fa-lg"></span>
                    <span class="sidebar-title">TOP TEN Barrio + Solicitudes</span>
                </a>
            </li>
            <li >
                <a href="{% url 'reportes_sucursal_datos' %}">
                    <span class="fa fa-flash fa-lg"></span>
                    <span class="sidebar-title">Datos de Sucursales</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-toggle-mini">
            <a href="#">
                <span class="fa fa-sign-out"></span>
            </a>
        </div>
    </div>
</aside>