<!DOCTYPE html>
<html>
    <head>
        <title>Prueba email</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>{{ titulo }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ usuario }}</td>
                </tr>
                <tr>
                    <td>{{ mensaje }}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>