{% extends 'profile_base.html' %}
{% block title %}
    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                      Contacto
                </h1>
            </div>
         </div>
        <!-- /.row -->
{% endblock %}
{% block breadcrum_page_entero %}
<div class="breadcrumb"  style="height:8%; background-color: #FF0057;">

  <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p class="pull-right" style="font-size:20px; padding-bottom: 3%;"> Contacto</p>
</div>
{% endblock %}
{%block content %}
<p style="text-align: center"><h4>Por favor complete el siguiente formulario y en la brevedad nos contactaremos con usted</h4></p>
<br>
<div class="col-lg-9">
<form class='form-horizontal' action='.' method='POST' enctype="multipart/form-data">
	{% csrf_token %}
        {{ contact_form.non_field_errors }}

			<div class="span9" >
			
			<table class="table table-hover" align="center">
			 <tbody>
			 <tr>
				 <td >
					*{{contact_form.nombre.label}}:
				 </td>
				 <td>
				 	{{contact_form.nombre}}
				 </td>
		         <td >
		          	{{contact_form.nombre.errors}}
		         </td>
				
			</tr>
			<tr>
				 <td>
				 	*{{contact_form.apellido.label}}:
		         </td>
		         <td >
		          	{{contact_form.apellido}}
		         </td>
		         <td>
		         	{{contact_form.apellido.errors}}
		         </td>
				
			</tr>			 
			
			<tr>
				  <td >
				 	*{{contact_form.email.label}}:
		         </td>
		         <td >
		         	{{contact_form.email}}
				 </td>
		         <td>
		         	{{contact_form.email.errors}}
		         </td>
			</tr>
			<tr>
				
				 {{ message_contact_form.non_field_errors }}
				<td >
					*{{message_contact_form.mensaje.label}}:
				</td>
				<td >
					{{message_contact_form.mensaje}}
				
				</td>
				<td>
					{{message_contact_form.mensaje.errors}}
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button type="submit" class="btn btn-primary" >{{boton}}</button>
					 <button type="reset" class="btn">Borrar</button>
				</td>
				<td>
					 <small><small> ( * ) Campo obligatorio</small></small>
				</td>
			</tr>
           </tbody>
	   </table>

	 </div>
</form>
</div>
{% endblock %}
