{% extends "paginabase.html" %}
{% load cms_tags %}
{% block content %}

    <div class="col-md-8">
        {% static_placeholder 'contenido' %}
    </div>

    <div class="col-md-4">

        {% include 'include/right_sidebar.html' %}

    </div>
    <!-- /.row -->

    <hr>
{% if orden_de_pedido %}
    <script type="text/javascript">
        $(document).ready(function(){
            bootbox.alert("Gracias por elegirnos {{orden_de_pedido.cliente.user.get_full_name}}! Tu pedido N°{{orden_de_pedido.id}} se está preparando. Hora aproximada de entrega: {{orden_de_pedido.hora_entrega}}hs");
        });
    </script>
{% endif %}
{% endblock %}