{% load static cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'include/head.html' %}
    {% render_block 'css' %}
</head>
<body>
{% cms_toolbar %}
{% include 'include/navbar.html' %}
{#{% include 'include/header.html' %}#}
{% block breadcrum_page_entero %}
{% endblock %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            {% block breadcrum_page %}
            {% endblock %}
        </div>
        <!-- Marketing Icons Section -->
        <div class="row">
            <!-- main content -->
            <div class="col-lg-8">
            {% block breadcrum_pedido %}
            {% endblock %}
            {% block content %}

            {% endblock %}
            </div>
            <!-- end main content -->
            <!-- internal sidebar-->
            <div class="col-lg-4">
            {% include 'include/right_inner_sidebar.html' %}
            </div>
            <!-- end internal sidebar-->
         </div>
        <!-- /.row -->
     </div>
    <!-- /.container -->




{% include 'include/footer.html' %}

{% render_block 'js' %}

</body>

</html>
