{% extends 'profile_base.html' %}
{% load static cms_tags thumbnail i18n l10n sekizai_tags %}
{% block title %} Lista de Sucursales{% endblock %}
{% block header_title %}
    Sucursales
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <style>
                    #googleMap {
                        width: 100%;
                        height: 400px;
                    }
                </style>
                <div id="googleMap"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="detalleSucursal" first-time=true class="row">
        </div>
    </div>


    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&lang=es"></script>
    {#    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCyARqbX0DoIvekmkRvXH2tTgY_yIaprj8&language=es"></script>#}
    <script>
        function initMap() {
            infowindow = new google.maps.InfoWindow();
            var center_position;
            //initial position in cordoba
            center_position = new google.maps.LatLng(-31.3987552, -64.1868587);
            map = new google.maps.Map(document.getElementById('googleMap'), {
                center: center_position,
                zoom: 16
            });
            {% if lista_sucursales %}
                var markers = [];
                var marker;

                {% for sucursal in lista_sucursales %}
                    {% if sucursal.posicion %}

                        var sContent =
                                '<b>{{ sucursal.nombre }}</b>' +
                                '<br>' +
                                '<a class="btn-xs" onclick="javascript:mostrar_detalle_sucursal({{ sucursal.id }})">' +
                                'Ver Mas' + '</a>';
                        marker = new google.maps.Marker({
                            position: {
                                lat: {{ sucursal.posicion.latitude|unlocalize }},
                                lng: {{sucursal.posicion.longitude|unlocalize}}
                            },
                            map: map,
                            sucursal_id:{{ sucursal.id }},
                            animation: google.maps.Animation.BOUNCE
                        });
                        markers.push(marker);
                        call_map_listener(marker);
                    {% endif %}
                {% endfor %}
                if (markers.length > 0) {
                    var bounds = new google.maps.LatLngBounds();
                    for (var i = 0; i < markers.length; i++) {
                        bounds.extend(markers[i].getPosition());
                    }
                    map.fitBounds(bounds);
                    if (markers.length == 1) {
                        var listener = google.maps.event.addListener(map, "idle", function () {
                            if (map.getZoom() > 16) map.setZoom(16);
                            google.maps.event.removeListener(listener);
                        });
                    }
                }
            {% endif %}

        }
        ;
        function call_map_listener(marker) {
            google.maps.event.addListener(marker, 'click', function () {
                mostrar_detalle_sucursal(marker.sucursal_id);
            });
        };

        function mostrar_detalle_sucursal(id_sucursal) {
             if ($('#detalleSucursal').attr('first-time') == 'true'){
                  $('#detalleSucursal').attr('first-time', 'false')
             }
            else{
                $('#detalleSucursal').fadeOut('slow');
             }
            $.get('{% url  'detalle_sucursal_view' %}', {id_sucursal: id_sucursal},
                    function (data) {
                        $('#detalleSucursal').html(data);
                        $('#detalleSucursal').fadeIn('slow');
                    });
        }
        ;

    </script>

{% endblock %}