{% extends "user_base.html" %}
{% load static %}
{% block content %}

<div class="row" style="padding-top: 3%;">
    <h5>Mis pedidos ({{pedidos.count}})</h5>
    {% for pedido in pedidos %}
    <div class="item_2">
        <div class="header_2 ">
            <div class="higher">
                {% if pedido.get_primer_detalle %}
                <img src="/media/{{pedido.get_primer_detalle.producto.imagen_producto}}"/>
                {% elif detalle.promocion %}
                <img src="/media/{{pedido.get_primer_detalle.menu.imagen}}"/>
                {% elif detalle.menu %}
                <img src="/media/{{pedido.get_primer_detalle.promocion.imagen}}"/>
                {% endif %}


                <div class="row">
                    <div class="col-md-6">
                        <h4><strong>
                            {% if pedido.servicio == 1%}
                            Sucursal {{pedido.sucursal}} - Delivery
                            {% elif pedido.servicio == 2%}
                            Sucursal {{pedido.sucursal}} - Retiro en sucursal
                            {% endif %}</strong>
                        </h4>
                        <div class="row" style="width: 600px;">
                            <ul style=" list-style-type: None;">
                                {% for detalle in pedido.detalles.all %}
                                <li>
                                    {{detalle.cantidad}}
                                    {% if detalle.producto %}
                                    {{detalle.producto.producto.nombre}}
                                    {{detalle.producto.clasificacion}}
                                    {% elif detalle.promocion %}
                                    {{detalle.promocion.nombre}}
                                    {% elif detalle.menu %}
                                    {{detalle.menu.nombre}}
                                    {% elif detalle.producto_armado %}
                                    {{detalle.producto_armado.producto.slogan}}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        Estado: <strong>{{pedido.get_estado_actual_display}}</strong>

                    </div>

                    <div class="col-md-3" style="text-align: right;">
                        <div class="row">{{pedido.fechaPedido| date:"d M Y H:s"}}</div>
                        <div class="row">Nro: {{pedido.pk}}</div>

                    </div>
                </div>


            </div>
            <div class="row list-row">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" id_pedido="{{pedido.id}}"
                                class="btn btn-default cancelar_button"
                                {% if not pedido.puede_cancelar %}
                                    disabled="disabled"
                                {% endif %}>Cancelar
                            Pedido
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id_pedido="{{pedido.id}}"
                                class="btn btn-default detalle_pedido" data-toggle="modal"
                                data-target="#detallePedido">Ver detalle
                        </button>
                    </div>
                    <div class="btn-group">
                        <form action="{% url 'repetir_pedido' pedido.pk %}">
                            <button type="submit button"
                                class="btn btn-default" {% if pedido.puede_cancelar %}
                                disabled="disabled" {% endif %}>Repetir Pedido
                        </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="modal fade" id="detallePedido" style="width:50%;">
</div>
<style>

.list-row {
    margin-right: 0px;
    margin-left: 0px;
}
imagen{
    width: 600px;
   height: 100px;
   position: absolute;

}

contenido {
float: right
    width:500px;
       height: 100px;
       padding: 40px 0;

}

.item_2{border:2px solid #d9d9d9;margin:0 0 20px 0;background-color:#e6e6e6; width: 748px}
.header_2 {position: relative;background-color: #fff;
    width: 748px; border-right:2px solid #d9d9d9}
.header_2 .column_2 { float: right;width: 600px;  height: 100px;padding: 40px 0;}
.header_2 img {float: left;width:140px; height:100px;}
.header_2 .higher{display: block; overflow:hidden;  border-bottom:2px solid #d9d9d9}
.header_2 .higher:hover,

.header_2 h2 {

}


</style>
<script type="text/javascript">
    $(document).ready(function(){
        $(".detalle_pedido").on("click", function(){
            id_pedido = $(this).attr("id_pedido");
            $.get('{% url  'detalle_pedido_view' %}', {id_pedido: id_pedido},
                    function (data) {
                        $('#detallePedido').html(data);
                    });
        });
        $(".cancelar_button").on('click', function(){
        id_pedido = $(this).attr('id_pedido');
            bootbox.prompt("Indique motivo de cancelacion", function(result){
                    $.get('{% url  'cambiar_estado_pedido' %}', {
                    id_pedido: id_pedido,
                    new_status_id: 7,
                    observaciones: result,
                    }, function(data){
                        document.location.reload();
                    });
                });
        });
    });

</script>
{% endblock %}
