{% extends 'profile_base.html' %}
{% load static cms_tags thumbnail i18n l10n sekizai_tags %}
{% block title %} Lista de Sucursales{% endblock %}
{% block header_title %}
    Sucursales
{% endblock %}
{% block breadcrum_page_entero %}
<div class="breadcrumb"  style="height:8%; background-color: #FF0057;">

  <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p class="pull-right" style="font-size:20px; padding-bottom: 3%;"> Sucursales</p>
</div>
{% endblock %}
{% block content %}
    <div class="row">
    {% for sucursal in lista_sucursales %}
        <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; padding: 1px 15px;">
                    <h4> Sucursal {{ sucursal.nombre }}</h4>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <img class="img" src="{% thumbnail sucursal.imagen 300x300 crop upscale %}"
                             style="padding-left: 5%">
                    </div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                <p><i class="glyphicon glyphicon-map-marker"></i> {{ sucursal.direccion|title }} {{ sucursal.numero_direccion }}, {{ sucursal.barrio|title }}, {{ sucursal.localidad|title }}</p>
                            </div>
                            <div class="row">
                                {% if sucursal.ofrece_servicio_delivery %}
                                    <p><i class="glyphicon glyphicon-check"></i> Delivery</p>
                                {% endif %}
                                {% if sucursal.ofrece_servicio_para_llevar %}
                                    <p><i class="glyphicon glyphicon-check"></i> Puede retirar en Sucursal
                                    </p>
                                {% endif %}
                                {% if sucursal.ofrece_sercicio_consumo_sucursal %}
                                    <p><i class="glyphicon glyphicon-check"></i> Puede consumir en Sucursal</p>
                                {% endif %}
                                <p> <i class="fa fa-phone"></i>
                                    {% for telefono in sucursal.telefonosucursal_set.all %}
                                        {{ telefono.numero }}{% if not forloop.last %} -{% endif %}
                                    {% endfor %}
                                </p>
                                {% if sucursal.horarios_de_atencion_display %}
                                    <p><i class="fa fa-clock-o"></i> {{ sucursal.horarios_de_atencion_display }}</p>

                                {% else %}
                                    {% for horario in sucursal.get_horarios_de_atencion %}
                                        <p><i class="fa fa-clock-o"></i> {{ horario }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <a class="btn btn-default btn-sucursal" sucursal_name="{{ sucursal.nombre }}" href="#" data-toggle="modal" data-target="#myMapModal"
                               onclick="upgradeCenter({{ sucursal.posicion.latitude|unlocalize }}, {{ sucursal.posicion.longitude|unlocalize }})">
                                ubicacion
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row"></div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <style type="text/css">
        #map-canvas {
            width: 570px;
            height: 400px;
            position: relative;
        }
        p {
            margin: 4px 10px 10px;
        }

    </style>

    <div class="modal fade" id="myMapModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="address" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="map-canvas" class=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initialize"></script>
    <script type='text/javascript'>
        var map;
        var myCenter;
        var marker;
        var sucursal_name = "";
        function initialize() {
            if (marker == undefined) {
                myCenter = new google.maps.LatLng(53, -1.33);
                marker = new google.maps.Marker({
                    position: myCenter,
                    animation: google.maps.Animation.BOUNCE
                });
            }

            var mapProp = {
                center: myCenter,
                zoom: 18,
                draggable: false,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);
            marker.setMap(map);

            google.maps.event.addListener(marker, 'click', function () {

                infowindow.setContent(contentString);
                infowindow.open(map, marker);

            });
            google.maps.event.addDomListener(window, 'load', initialize);
            google.maps.event.addDomListener(window, "resize", resizeMap());
            $("#address").text(sucursal_name);
        };

        function upgradeCenter(lat, long) {
            myCenter = new google.maps.LatLng(lat, long);
            marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.BOUNCE
            });
            initialize();
        };

        $('#myMapModal').on('shown.bs.modal', function () {
            resizeMap();
        });

        $(".btn-sucursal").on("click", function(){
            sucursal_name = "Ubicacion Sucursal " + $(this).attr("sucursal_name");
            initialize();
        });


        function resizeMap() {
            if (typeof map == "undefined") return;
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        }
        ;
    </script>
{% endblock %}