{% load static cms_tags sekizai_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    {% render_block "css" %}
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.6&appId=134218173582690";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% cms_toolbar %}
{% include 'include/navbar.html' %}
{#{% include 'include/header.html' %}#}
{% static_placeholder 'Slider Principal' %}

    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {% block header_title %}Bienvenido a {{ nombre_empresa }}!{% endblock %}
                    </h1>
                </div>
            {% block content %}

            {% endblock %}
        </div>
        <!-- /.row -->
        <!-- row -->
        <br>
        <br>
        <hr>
    <div class="row">
        <div class="bg-white">
                <div class="container">
                    <!-- /.sponsors_frame_slider-->
                    {% static_placeholder 'Sponsors' %}
                </div>
             </div>
        </div>
     </div>
    <!-- /.container -->

{% include 'include/footer.html' %}

{% render_block 'js' %}
</body>

</html>
