{% extends 'profile_base.html' %}
{% load static cms_tags sekizai_tags thumbnail %}
{% block breadcrum_page_entero %}
<div class="breadcrumb"  style="height:8%; background-color: #FF0057;">

  <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p class="pull-right" style="font-size:20px; padding-bottom: 3%;"> Productos</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <h3>{{tipo_producto}}</h3>
{% for producto in productos %}
{% for detalle in producto.detalle_version_producto.all %}
<div class="col-md-3 col-sm-4">
    <div class="panel panel-default text-center">
        <div class="panel-heading">

            <img src="{% thumbnail detalle.imagen_producto '200x200' crop upscale %}"/>

        </div>
        <div class="panel-body" style="height:150px;">
            <div>
                <h4>{{producto.nombre|title}}</h4>
            </div>
            <div>
            <p>
                {% for ingrediente in producto.ingredientes.all %}
                {{ingrediente.ingrediente.nombre}}
                {% endfor %}
            </p>
            </div>
            <div>
                    <a href="{% url 'nuevo_pedido' %}" class="btn btn-primary">Iniciar Pedido</a>
            </div>

            <div></div>
        </div>
    </div>
</div>

{% endfor %}
{% endfor %}
</div>
<style>
      .btn-primary{
        position: absolute;
        bottom: 15%;
        right:30%;
        }
</style>
<div class="row">
<a class="btn btn-default"  href="{% url "products_view" %}">Volver a Productos</a>
</div>

{% endblock %}
