{% extends 'profile_base.html' %}
{% load static cms_tags sekizai_tags %}
{% block breadcrum_page_entero %}
<div class="breadcrumb"  style="height:8%; background-color: #FF0057;">

  <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p class="pull-right" style="font-size:20px; padding-bottom: 3%;"> Productos</p>
</div>
{% endblock %}

{% block content %}

<div class="row">
        <div class="bg-white">
                <div class="container">
                    <!-- /.sponsors_frame_slider-->
                    {% static_placeholder 'Tipo de productos' %}
                </div>
             </div>
    </div>
{% endblock %}