{% load static cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'include/head.html' %}
    {% render_block 'css' %}
</head>
<body>
{% cms_toolbar %}
{% include 'include/navbar.html' %}
{#{% include 'include/header.html' %}#}


{% block breadcrum_page_entero %}
{% endblock %}

    <!-- Page Content -->
    <div class="container">
        <div class="col-lg-12">

        </div>
        <div class="row">
            {% block breadcrum_page %}
            {% endblock %}
        </div>
        <!-- Marketing Icons Section -->
        <div class="row">
            <!-- main content -->
            <div class="col-lg-12">
            {% block content %}

            {% endblock %}
            </div>
         </div>
        <!-- /.row -->
     </div>
    <!-- /.container -->




{% include 'include/footer.html' %}

{% render_block 'js' %}

</body>

</html>
