{% extends 'profile_base.html' %}
{% load static cms_tags thumbnail sekizai_tags %}
{% block breadcrum_page_entero %}
<div class="breadcrumb"  style="height:8%; background-color: #FF0057;">

  <p class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p class="pull-right" style="font-size:20px; padding-bottom: 3%;"> Promociones</p>
</div>
{% endblock %}

{% block content %}
<div class="shop">
    {% for promocion in promociones %}
        <div class="content">
            <img src="/media/{{promocion.imagen}}" width="500px" heigth="346px"/>
            <a href="{% url 'nuevo_pedido' %}" class=" btn btn-danger ">Iniciar Pedido</a>
        </div>
    {% endfor %}
</div>

<style>
.shop{
    background-repeat: repeat-x;
    height:500px;
    width: 1100px;
    margin-left: 20px;
    margin-top: 13px;
}

.shop .content{
    width: 515px; /*328 co je 1/3 - 20margin left*/
    height: 346px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right:0px;
    display:inline-block;
    position:relative;
}

.shop .content a {
    position:absolute;
    bottom: 37px;
    right: 18px;

}

</style>
{% endblock %}