{% load cms_tags sekizai_tags %}

        <div class="grid-logo-carousel" id="grid-logo-carousel">
            <div class="box">
                <div class="image-box">
                    <a href="#" class="white-tooltip" data-toggle="tooltip" data-container="body" data-placement="top"
                       title="imagen"><img src="http://placehold.it/140x50" alt="imagen"></a>
                </div>
            </div>
            <div class="box">
                <div class="image-box">
                    <a href="#" class="white-tooltip" data-toggle="tooltip" data-container="body" data-placement="top"
                       title="imagen"><img src="http://placehold.it/140x50" alt="imagen"></a>
                </div>
            </div>
            <div class="box">
                <div class="image-box">
                    <a href="#" class="white-tooltip" data-toggle="tooltip" data-container="body" data-placement="top"
                       title="imagen"><img src="http://placehold.it/140x50" alt="imagen"></a>
                </div>
            </div>
            <div class="box">
                <div class="image-box">
                    <a href="#" class="white-tooltip" data-toggle="tooltip" data-container="body" data-placement="top"
                       title="imagen"><img src="http://placehold.it/140x50" alt="imagen"></a>
                </div>
            </div>
            <div class="box">
                <div class="image-box">
                    <a href="#" class="white-tooltip" data-toggle="tooltip" data-container="body" data-placement="top"
                       title="imagen"><img src="http://placehold.it/140x50" alt="imagen"></a>
                </div>
            </div>

        </div>
        <!-- /.grid-carousel -->

{% addtoblock 'js' %}
    <!-- Carousel Jquery -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('.grid-logo-carousel').slick({
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 1,
                rows: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 993,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            rows: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            rows: 1
                        }
                    }
                ]
            });
        });
    </script>
{% endaddtoblock %}