{% extends 'internal_base.html' %}
{#{% block title %} Lista de Sucursales{% endblock %}#}
{% block title %}
    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                      Sucursales
                </h1>
            </div>
         </div>
        <!-- /.row -->
{% endblock %}
<h3>Sucursales</h3>

{% block content %}

{% with total=sucursales.count %}
<p><small>Actualmente tenemos registradas {{total}} sucursal/es</small></p>
{% endwith %}
 <div class="accordion" id="accordion2">
{% for sucursal in sucursales %}



			 <div class="well well-large">

		          <div class="accordion-group">
		               <div class="accordion-heading">
		                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{sucursal.numero_direccion}}">
		                     <h4> {{sucursal.nombre}}&nbsp&nbsp<small><strong>{{sucursal.direccion}} {{sucursal.numero_direccion}}</strong></small></h4>

		                   </a>
		               </div>
		               {% if forloop.first %}
		                   <div id="{{sucursal.numero_direccion}}" class="accordion-body collapse in ">
		                   {% else %}
		                   <div id="{{sucursal.numero_direccion}}" class="accordion-body collapse ">
		                {% endif %}
		                        <div class="accordion-inner">
		                            <table align="center" border="0" width="100%" height="20%" >

										<tr>
											<td rowspan="3"><img class="img-rounded" src="/media/{{sucursal.imagen}}" height="300" width="300" alt=""></td>
											<td><p><strong>Código:</strong> {{sucursal.codigo}} </p></td>
										</tr>
										<tr>
											<td><p><strong>Domicilio: </strong>{{sucursal.direccion}} {{sucursal.numero_direccion}} </p>
											<p><strong>Barrio: </strong>{{sucursal.barrio}} </p>
											<p><strong>Codigo postal: </strong>{{sucursal.codigo_postal}}</p>
											<p><strong>Localidad: </strong>{{sucursal.localidad}}</p></td>
										</tr>
										<tr>
											<td><p><strong>Calificación del servicio: </strong>{{sucursal.calificacion_servicio}}</p></td>
										</tr>
									</table>
		                             <br>
                                    <p><strong>Horarios: </strong>{{ sucursal.get_horarios_de_atencion }}</p>
		                            <a href="/pedido/sucursales/elegir/{{sucursal.codigo}}/" class="btn btn-primary btn-block" > Elegir está sucursal</a>
		                         </div>
		                   </div>
		          </div>
		      </div>

	{% endfor %}

	</div>



{% endblock %}

{#{% block panelAux %}#}
{#<div class="well sidebar-nav">#}
{#    <ul class="nav nav-list" id="HistoricoPedido">#}
{#        <li class="nav-header">#}
{#           Historicos de Pedidos#}
{#        </li>#}
{#        <p align="justify">#}
{#           No ha ingresado aún#}
{#        <p>#}
{#    </ul>#}
{#</div><!--/.well -->#}
{#<div class="well sidebar-nav">#}
{#    <ul class="nav nav-list" id="Promociones">#}
{#        <li class="nav-header">#}
{#           Promociones Imperdibles#}
{#        </li>#}
{#        <a href="/pedido/armaTuPedido/promosDisponibles/"> <img src="/media/imagenes/armaTuPedido/promocion.jpg" alt="Promocion" /></a>#}
{#    </ul>#}
{#</div><!--/.well -->#}
{#<div class="well sidebar-nav">#}
{#    <ul class="nav nav-list" id="Configuracion">#}
{#        <li class="nav-header">#}
{#           Configuración del Pedido#}
{#        </li>#}
{#        <br>#}
{#        <p align="justify">#}
{#            {% if domicilio  %}#}
{#        <p>#}
{#            <strong>Mi ubicación:</strong>{{domicilio.direccion}},{{domicilio.numero_direccion}},{{domicilio.barrio}},{{domicilio.localidad}},{{domicilio.codigo_postal}}#}
{#            {% else %}#}
{#            <strong>Mi ubicación:</strong>No se ha ingresado aún#}
{#             {% endif %}#}
{#        </p>#}
{##}
{#        <p>#}
{#            {% if sucursal  %}#}
{#            <strong>Mi Sucursal:</strong>{{sucursal.nombre}},{{sucursal.direccion}}, {{sucursal.numero_direccion}},{{sucursal.barrio}}#}
{#            {% else %}#}
{#            <strong>Mi Sucursal:</strong> No se ha seleccionado#}
{#             {% endif %}#}
{#        </p>#}
{#         <p>#}
{#         {% if domicilio  %}#}
{#            <strong>Servicio Elegido:</strong>{{domicilio.servicio.nombre}}#}
{#            <a href="/pedido/actualizar/{{domicilio.id}}/">Cambiar</a>#}
{#           {% else %}#}
{#            <strong>Servicio Elegido:</strong>No se ha seleccionado#}
{#         {% endif %}#}
{#        </p>#}
{#         <p>#}
{##}
{#            <strong>Horario del pedido:</strong>No ha seleccionado#}
{#        </p>#}
{##}
{##}
{#        </p>#}
{#    </ul>#}
{#</div><!--/.well -->#}
{#{% endblock %}#}
