{% load static cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    {% render_block 'css' %}
</head>
<body>
{% cms_toolbar %}
{% include 'include/navbar.html' %}
{#{% include 'include/header.html' %}#}


{% block breadcrum_page_entero %}
{% endblock %}

<!-- Page Content -->
<div class="container">
    <div class="col-lg-12">

    </div>
    <div class="row">
        {% block breadcrum_page %}
        {% endblock %}
    </div>
    <!-- Marketing Icons Section -->
    <div class="row">
        <!-- main content -->
        <div class="col-lg-3" id="profile-content">
            <div class="panel panel-default text-center">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-9" id="image-content">

                        <img class="img-responsive roundedRadius" src="
                            {% if user.clienteprofile.avatar_url %}
                                {{user.clienteprofile.avatar_url}}>
                            {% else %}
                                {% static 'img/default-user-icon-profile.png' %}
                            {% endif %}" style="height:150px; width:150px">

                    </div>
                </div>
                <div class="row">

                        {{ user.get_full_name }}
                </div>
                <div class="list-group text-left">
                    <a class="list-group-item" href="{% url 'user_update' %}"><i class="fa fa-wrench"></i> Mi Cuenta</a>
                    <a class="list-group-item" href="{% url 'cliente_profile_update' %}"><i class="fa fa-child"></i> Mi Perfil</a>
                    <a class="list-group-item" href="{% url 'mispedidos_list' %}"><i class="fa fa-briefcase"></i> Mis pedidos</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<style>
.roundedRadius{
    border-radius: 50%;
}
#profile-content{
    padding-top: 2%;
}
#image-content{
    padding-top: 2%;
}

</style>


{% include 'include/footer.html' %}

{% render_block 'js' %}

</body>

</html>
