{% extends "admin/base.html" %}
{% load i18n %}
{% block branding %}
{% endblock %}

{% block nav-global %}

<script type="text/javascript">
document.getElementById("header").style.display = 'none';
</script>
<style type="text/css">
.breadcrumbs {display: none}
</style>
{% endblock %}