<!-- Start: Sidebar -->
<aside id="sidebar_left" class="nano nano-primary">
    <div class="nano-content">

        <!-- sidebar menu -->
        <ul class="nav sidebar-menu">
            <li id="menu_splash">
                <a href="{% url 'pedidos_view' %}">
                    <span class="glyphicons glyphicons-iphone"></span>
                    <span class="sidebar-title">Pedidos</span>
                </a>
            </li>
            <li id="menu_offer">
                <a href="{% url 'pedido_busqueda' %}">
                    <span class="glyphicons glyphicons-fire"></span>
                    <span class="sidebar-title">Busqueda de pedidos</span>
                </a>
            </li>
            <li id="menu_slider">
                <a href="{% url 'promocion_list' %}">
                    <span class="glyphicons glyphicons-picture"></span>
                    <span class="sidebar-title">Promociones</span>
                </a>
            </li>
            <li id="menu_producto">
                <a href="{% url 'producto_armar_list' %}">
                    <span class="glyphicons glyphicons-sampler"></span>
                    <span class="sidebar-title">Productos para armado</span>
                </a>
            </li>
            <li id="tiempo_promedio_cola">
                <a href="{% url 'promedio_cola_list' %}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-title">Promedio de Pedido en cola</span>
                </a>
            </li>
            <li id="tiempo_promedio_entrega">
                <a href="{% url 'promedio_entrega_list' %}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-title">Promedio en entrega</span>
                </a>
            </li>
            <li id="tiempo_promedio_producto">
                <a href="{% url 'promedio_producto_list' %}">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    <span class="sidebar-title">Promedio de preparacion del producto</span>
                </a>
            </li>

        </ul>
        <div class="sidebar-toggle-mini">
            <a href="#">
                <span class="fa fa-sign-out"></span>
            </a>
        </div>
    </div>
</aside>