{% load static thumbnail sekizai_tags %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
        {% include 'include/admin_head.html' %}
    {% endblock %}
    {% block head_calendar %}

    {% endblock %}
</head>

<body class="dashboard-page sb-l-o sb-r-c">
       <!-- Start: Main -->
    <div id="main">

        <!-- Start: Header -->
        <header class="navbar navbar-fixed-top bg-light">
            <div class="navbar-branding">
                <a class="navbar-brand" href="{% url 'dashboard' %}"> <b>{{ nombre_empresa }}</b> Administrador </a>
                <span id="toggle_sidemenu_l" class="glyphicons glyphicons-show_lines"></span>
                <ul class="nav navbar-nav pull-right hidden">
                    <li>
                        <a href="#" class="sidebar-menu-toggle">
                            <span class="octicon octicon-ruby fs20 mr10 pull-right "></span>
                        </a>
                    </li>
                </ul>
            </div>
          <div class="nav navbar-nav navbar-left">
            <img class="mt15" src="{% thumbnail app.logo 200x100 upscale %}">
          </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                    <!--  <img src="{% static 'cmsadmin/assets/img/avatars/placeholder.png' %}" alt="avatar" class="mw30 br64 mr15">-->
                      <span class="fa fa-3x fa-user"></span>
                      <span>{{ user.first_name }} {{ user.last_name }}</span>
                        <span class="caret caret-tp hidden-xs"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-persist pn w250 bg-white" role="menu">
                        <li class="br-t of-h">
                            <a href="{% url 'cms_password_change' %}" class="fw600 p12 animated animated-short fadeInDown">
                                <span class="fa fa-user-secret pr5"></span> Cambiar contraseña </a>
                        </li>

                        <li class="br-t of-h">
                            <a href="{% url 'custom_admin_logout' %}" class="fw600 p12 animated animated-short fadeInDown">
                                <span class="fa fa-power-off pr5"></span> Logout </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <!-- End: Header -->
        {% if user.is_superuser %}
            {% include 'administracion_total/sidebar_general.html' %}
        {% elif user.is_staff %}
            {% include 'administracion_sucursal/sidebar_encargado.html' %}
        {% endif %}
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
    {% for message in messages %}

        {% if "error" in message.tags %}

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error!</h4>
            {{ message }}
        </div>

        {% elif "warning" in message.tags %}

        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Atencion!</h4>
            {{ message }}
        </div>

        {% elif "success" in message.tags %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Finalizado:</h4>
            {{ message }}
        </div>

        {% elif "info" in message.tags %}

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% elif "debug" in message.tags %} {# the same as "INFO" #}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% else %} {# the same as "INFO" #}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% endif %}

    {% endfor %}

              {% block content %} {% endblock %}
            </section>
            <!-- End: Content -->

        </section>

    </div>
    <!-- End: Main -->
       <!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="{% static 'custom_admin/vendor/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/bootstrap/holder.min.js' %}"></script>

<script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/bootbox/bootbox.js' %}"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/utility/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/demo.js' %}"></script>

<!-- Page Plugins -->
<script type="text/javascript"
        src="{% static 'custom_admin/vendor/plugins/magnific/jquery.magnific-popup.js' %}"></script>

<!-- Admin Widgets  -->
<script type="text/javascript"
        src="{% static 'custom_admin/assets/admin-tools/admin-plugins/admin-panels/json2.js' %}"></script>
<script type="text/javascript"
        src="{% static 'custom_admin/assets/admin-tools/admin-plugins/admin-panels/jquery.ui.touch-punch.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'custom_admin/assets/admin-tools/admin-plugins/admin-panels/adminpanels.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/es.js' %}"></script>
      <!--<script type="text/javascript" charset="utf8" src="{% static 'js/datatable.js' %}"></script>-->
       <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/datatables/media/js/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom_admin/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>

<script type="text/javascript">
        jQuery(document).ready(function() {

           "use strict";
           // Init Theme Core
                      Core.init({
               sbm: "sb-l-c",
            });


            // Init Demo JS
            Demo.init();

            $('.dropdown-toggle').dropdown()
        });


</script>

{% render_block 'js' %}

</body>

</html>
