{% extends 'baseadmin.html' %}
{% load static sekizai_tags thumbnail widget_tweaks i18n %}

{% block last_crumb %}Change password{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-6">

      <form action="" method="post">{% csrf_token %}
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Cambiar contraseña</span>
          </div>
          <div class="panel-body">


            {% if form.errors %}
              <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                  {% trans "Please correct the errors below." %}{% endif %}
              </p>
            {% endif %}


            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            <div class="form-group mt15 {% if form.old_password.errors %} has-error {% endif %}">
              {{ form.old_password.errors }}
              {{ form.old_password.label_tag }}
              {% render_field form.old_password class="form-control" %}
            </div>

             <div class="form-group mt15 {% if form.new_password1.errors %} has-error {% endif %}">
              {{ form.new_password1.errors }}
              {{ form.new_password1.label_tag }}
              {% render_field form.new_password1 class="form-control" %}
            </div>

            <div class="form-group mt15 {% if form.new_password2.errors %} has-error {% endif %}">
              {{ form.new_password2.errors }}
              {{ form.new_password2.label_tag }}
              {% render_field form.new_password2 class="form-control" %}
              {% if form.new_password2.help_text %}
                <p class="help">{{ form.new_password2.help_text }}</p>
              {% endif %}
            </div>


            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>


          </div>
          <div class="panel-footer">
            <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary"/>
          </div>
        </div>
      </form>


    </div>

  </div>

  {% addtoblock 'js' %}
    <script type="text/javascript">
      jQuery(document).ready(function () {
        $('#menu_splash').addClass('active');
        $('.fileupload').on('change.bs.fileinput', function (e) {
          $('#splash_upload_form').submit();
        });
      });
    </script>
  {% endaddtoblock %}
{% endblock %}