{% load static widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>{{ nombre_empresa }} - Sistema de Administracion</title>
  <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme"/>
  <meta name="description" content="AdminDesigns - SHARED ON THEMELOCK.COM">
  <meta name="author" content="AdminDesigns">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/assets/skin/default_skin/css/theme.css' %}">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css"
        href="{% static 'custom_admin/assets/admin-tools/admin-forms/css/admin-forms.css' %}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'custom_admin/assets/img/favicon.ico' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->
</head>

<body class="external-page sb-l-c sb-r-c">

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

  <!-- Start: Content-Wrapper -->
  <section id="content_wrapper">

    <!-- begin canvas animation bg -->
    <div id="canvas-wrapper">
      <canvas id="demo-canvas"></canvas>
    </div>

    <!-- Begin: Content -->
    <section id="content">

      <div class="admin-form theme-info" id="login1">

        <div class="row mb15 table-layout">

          <div class="col-xs-6 va-m pln">
{#            <a href="dashboard.html" title="Return to Dashboard">#}
{#              <img src="{% static 'cmsadmin/assets/img/logos/logo_white.png' %}" title="AdminDesigns Logo"#}
{#                   class="img-responsive w250">#}
{#            </a>#}
          </div>

          <div class="col-xs-6 text-right va-b pr5">
            <div class="login-links">
              <a href="#" class="active" title="Sign In">Sign In</a>
{#              <span class="text-white"> | </span>#}
{#              <a href="contact.html" class="" title="Contact">Contact</a>#}
            </div>

          </div>

        </div>

        <div class="panel">

          <div class="panel-heading ">
            <span class="panel-title"><i class="fa fa-sign-in"></i>Login</span>
          </div>

          <!-- end .form-header section -->
          <form method="post" action="{{ url }}" id="contact">
          {% csrf_token %}
            <div class="panel-body bg-light p30">
              <div class="row">
                <div class="col-sm-7 pr30">

                  <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                    <label for="username" class="field-label text-muted fs18 mb10">Username</label>
                    <label for="username" class="field prepend-icon">
                      {% render_field form.username class="gui-input" placeholder="Enter username" aria-required="true" aria-invalid="true" %}
                      {% if form.username.errors %}
                      <span class="help-block mt5"><i class="fa fa-exclamation-triangle"></i> {{ form.username.errors.as_text }}</span>
                      {% endif %}
                      <label for="username" class="field-icon"><i class="fa fa-user"></i>
                      </label>
                    </label>
                  </div>
                  <!-- end section -->

                  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                    <label for="password" class="field prepend-icon">
                      {% render_field form.password class="gui-input" placeholder="Enter Password" %}
                      {% if form.username.errors %}
                      <span class="help-block mt5"><i class="fa fa-exclamation-triangle"></i> {{ form.password.errors.as_text }}</span>
                      {% endif %}
                      <label for="password" class="field-icon"><i class="fa fa-lock"></i>
                      </label>
                    </label>
                  </div>
                  <!-- end section -->


                  {% if form.non_field_errors %}
                    <div class="alert alert-warning alert-dismissable">
                      <i class="fa fa-warning pr10"></i>
                      <strong>Warning!</strong>
                      {% for error in form.non_field_errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}

                </div>
                <div class="col-sm-5 br-l br-grey pl30">
                  <h3 class="mb25"> Al acceder Podrás:</h3>

                  <p class="mb15">
                    <span class="fa fa-check text-success pr5"></span> Gestionar Pedidos</p>

                  <p class="mb15">
                    <span class="fa fa-check text-success pr5"></span> Gestionar recursos.</p>

                  <p class="mb15">
                    <span class="fa fa-check text-success pr5"></span> Diseñar nuevos productos.</p>

                  <p class="mb15">
                    <span class="fa fa-check text-success pr5"></span> Gestionar Sucursales.</p>
                </div>
              </div>
            </div>
            <!-- end .form-body section -->
            <div class="panel-footer clearfix p10 ph15">
              <button type="submit" class="button btn-primary mr10 pull-right">Login</button>
              <label class="switch block switch-primary pull-left input-align mt10">
                <input type="checkbox" name="remember" id="remember" checked>
                <label for="remember" data-on="YES" data-off="NO"></label>
                <span>Recordarme</span>
              </label>
            </div>
            <!-- end .form-footer section -->
          </form>
        </div>
      </div>

    </section>
    <!-- End: Content -->

  </section>
  <!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="{% static 'custom_admin/vendor/jquery/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/bootstrap/bootstrap.min.js' %}"></script>

<!-- Page Plugins -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/pages/login/EasePack.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/pages/login/rAF.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/pages/login/TweenLite.min.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/pages/login/login.js' %}"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="{% static 'custom_admin/assets/js/utility/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'custom_admin/assets/js/main.js' %}"></script>

<!-- Page Javascript -->
<script type="text/javascript">
  jQuery(document).ready(function () {

    "use strict";

    // Init Theme Core
    Core.init();


    // Init CanvasBG and pass target starting location
    CanvasBG.init({
      Loc: {
        x: window.innerWidth / 2,
        y: window.innerHeight / 3.3
      },
    });


  });
</script>

<!-- END: PAGE SCRIPTS -->

</body>

</html>
