{% extends "profile_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
    <div class="col-md-6">
        <h1>{% trans "Sign In" %}</h1>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Por favor logueese con alguna
            de sus cuentas de terceros existentes.</p>
        <p>O <a href="{{ signup_url }}">Registrese</a>
        para obtener una cuenta en {{ site_name }} abajo:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul>
            {% include "socialaccount/snippets/my_provider_list.html" with process="login" %}
          </ul>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
            En este momento no se pueden usar aplicaciones sociales
        {% endif %}
        <div class=" col-md-6">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}

          {{ form|bootstrap }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
        </div>
    </div>
    <style>
        form{
        padding-left:2%;
        }
        ul{
        -webkit-padding-start: 0px;
        }
    </style>
{% endblock %}
