{% extends "line_profile_base.html" %}

{% load i18n %}

{% block header_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div style="padding-top:40px;"></div>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
