{% extends "profile_base.html" %}
{% load bootstrap %}
{% load i18n %}


{% block content %}
    <div class="col-md-6">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|bootstrap }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-actions">
          <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
          </div>
        </form>
    </div>
{% endblock %}
