{% extends "user_base.html" %}
{% load static %}
{% block content %}
        <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
        <div class="row">
            <div class="col-lg-6">
                <h3>Mi Cuenta</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <form action = "" method = "post"> {% csrf_token %}
                 <table class="table table-striped">
		            {{form.as_table}}
                </table>
                <button type="submit" id="id_registrar" class="btn btn-primary ">
                    Guardar Cambios
                </button>
	    </form>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('input, select').addClass('form-control');
            });
        </script>
{% endblock %}
