{% extends 'profile_base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Estas por usar tu cuenta de {{provider_name}} para loguearte a
{{site_name}}. Como ultimo paso por favor completa los siguientes datos: {% endblocktrans %}</p>
    
<form class="signup" id="signup_form" method="post" action="">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary"  type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>
        

{% endblock %}


